[2018-08-03 13:28] jennyphan commented on #283
This was a type issue with golang, I converted to the correct type and it is working.

[2018-08-03 13:28] #283 closed

[2018-08-04 02:41] ernsheong commented on #283
@jennyphan what was the type issue?

[2018-08-05 17:56] cmnstmntmn commented on #281
fixed

[2018-08-05 17:56] #281 closed

[2018-08-07 18:50] nghtstr commented on #262
I am having something very similar. It keeps spitting out
`jwt.Claims is jwt.MapClaims, not *Controllers.jwtUserClaims`

A segment of my auth code does the following:

[code]

[2018-08-08 15:30] ymizrachi opened #285 "SigningMethodRSAPSS Validation issue"
Hey,
I'm trying to create JWS with PS256 algorithm and the signature i create is Invalid.

here is the code i try:

[code]
The Print Result :

false eyJhbGciOiJQUzI1NiIsInR5cCI6IkpXVCIsIng1YyI6WyJNSUlHZURDQ0JHQ2dBd0lCQWdJR0FXUkdUZ1QyTUEwR0NTcUdTSWIzRFFFQkN3VUFNSHd4Q3pBSkJnTlZCQVlUQWs1TU1Ta3dKd1lEVlFRS0RDQlZUQ0JVY21GdWMyRmpkR2x2YmlCVFpXTjFjbWwwZVNCa2FYWnBjMmx2YmpFZ01CNEdBMVVFQ3d3WFZVd2dWRk1nTTBRdFU

[2018-08-24 00:20] voutasaurus opened #287 "MapClaims with int64 values are improperly read into float64 values when parsed"
Reproduction:

Code of main.go:
[code]

Running:
[code]

Repro of the phenomenon without jwt-go:
https://play.golang.org/p/I8HqyNYjXiS
and a fix by eschewing interface{} https://play.golang.org/p/oZu52p0FAZD

Meaning that this is an edge case of using map[string]interface{}. In other words using that type is dangerous and worth avoiding.

I’m pretty sure there’s no exploit here. Direct == comparis

[2018-08-24 00:41] voutasaurus commented on #287
I'm not sure how to fix this without breaking compatibility, but the docs should probably be updated to note that MapClaims is not recommended.

[2018-08-30 15:38] gabbottron opened #289 "Mismatch in function signatures for implementing IdentityHandler"
Using the basic server example in master, I implemented the IdentityHandler function with the required signature to satisfy the interface: IdentityHandler: func(claims jwt.MapClaims) interface{}

**I get this error:**
server.go:83:18: cannot use func literal (type func("github.com/appleboy/gin-jwt".MapClaims) interface {}) as type func("gopkg.in/dgrijalva/jwt-go.v3".MapClaims) interface {} in fiel

[2018-08-30 17:29] #289 closed

[2018-09-09 14:18] oponder opened #290 "Non string Audience claims and VerifyAudience with `required` set to false"
JWT tokens that have an array of strings in the audience claim can sneak through the `VerifyAudience` call when `required` is set to false

`VerifyAudience` tries to cast the `aud` claim to a string, and does not mind if it fails. When `m["aud"]` is not a string, `aud` will be set to `""`, and `VerifyAudience` will think there was no Audience claim in the token, and since `req` is set to false, it

[2018-09-09 14:46] oponder commented on #290
I believe this here is the relevant part in the spec: https://tools.ietf.org/html/rfc7519#section-4.1.3

[code]

[2018-09-14 14:30] someone1 commented on #241
Will this break any use case where the `kid` found in the header is used to select the proper key for signature verification? See: http://self-issued.info/docs/draft-jones-json-web-token-01.html#ReservedHeaderParameterName

[2018-09-14 15:01] thomdixon commented on #241
It shouldn't break that use case, because the header would still be parsed and the specified key should still used to validate the payload before the payload is parsed.

[2018-09-17 14:43] superarts opened #291 "Best practice of storing token?"
Hi I'm new to back-end field, previously I was using `Vapor` and it generates a random token when user logs in, and store it in database. Now when I start working with `golang`, I found this JWT library and have some noob questions:

1. Suppose if server secret is leaked, is anyone going to be able to login with any username? And vice versa, is it true that without server secret, a hacker is mathe

[2018-09-18 15:32] longsleep commented on #285
The problem is that jwt-go uses the wrong parameters to create the RSA-PSS signature (wrong salt size).

See https://www.ietf.org/mail-archive/web/jose/current/msg02905.html which says that the salt size shoult be the same as the hash size. Unfortunately this is not really anywhere specified.

The jwt-go uses auto (like for example in https://github.com/dgrijalva/jwt-go/blob/master/rsa_pss.go#L32)

[2018-09-19 22:15] tkinz27 commented on #241
Will it still be possible to parse the claims before verifying the key? We switch based on the token issuer which key to return to validate the token with.

[2018-09-19 22:51] dgrijalva commented on #241
Yes. Everything is parsed before calling keyfunc. We only changed the order that validations are applied.

That said, the spec suggests you should not do anything with the claims body until the signature is verified. The head section is supposed to contain all information necessary for signature validation.

[2018-09-19 22:59] dgrijalva commented on #291
There's a lot of good writing out there about how to use bearer tokens (such as JWT) securely. I'd rather not be too prescriptive as it's beyond the scope of this library.

That said, tokens should be treated as secrets. You can't really hash them (like passwords) without them becoming useless. Ideally, tokens are short lived and you have a strategy in place for handling leaked tokens or token sec

[2018-09-19 23:15] superarts commented on #291
Thanks @dgrijalva , just one more thing about ephemeral token: suppose the business requirement is that user never needs to enter his username and passport again, even he hasn't been using the app for a long time, let's say a month.

In this case, it seems to me that no matter what kind of mechanism has been implemented, like expire token in 1 hour but allow it to be used for renewal for a month,

[2018-09-20 20:32] liamhendricks opened #293 "another --- illegal base64 data at input byte"
I've read through several similar issues, and don't seem to see a solution for this. I am simply trying to validate a jwt with a RS256 pub key.

[code]
I've tried parsing that header in a few different ways, but I dont know if that is the issue?
I have validated this token externally. Also validated the PEM with openssl.

[code]

I am using `ParseFromRequest` here, but I tried using `ParseWithClai

[2018-09-21 16:35] bjm88 opened #294 "go get showing this library as +incompatible in go.mod"
When upgrading from go 1.10 to 1.11 and starting to use go.mod I noticed this was an issue.  I was indirectly using this by using
github.com/appleboy/gin-jwt v2.3.1
but even trying to use it directly I get this +incompatible marking.. not sure what it means or why actually...

ithub.com/dgrijalva/jwt-go v3.2.0+incompatible // indirect

??

[2018-09-21 17:18] dgrijalva commented on #294
Go mod requires some special flags. When I last looked at this, dep was the recommended thing and go mod was just a proposal. Since it's included in go 1.11, it would appear it's time to add support. I'll look into this over the weekend.

[2018-09-21 19:56] bjm88 commented on #294
Great thank you.  There is a good video on pitfalls of dep and why they went another route.  Finally having a real module Management system in go tooling is huge so glad it's being standardized

[2018-09-21 20:55] liamhendricks commented on #293
Solved my own issue, so I'll share for posterity:

I went spelunking into the decoding methods and noticed that this lib is using:
`base64.URLEncoding.DecodeString()`. This is the correct thing to do as I understand it, because the newest spec for JWT requires this. I scratched my head. Then I noticed that the tokens that I was receiving from the SSO service at my company have legacy encoding with

[2018-09-21 20:55] #293 closed

[2018-09-30 17:40] chrisbbe commented on #184
What about https://github.com/dgrijalva/jwt-go/pull/286 ?

[2018-09-30 19:38] KosToZyB opened #295 "Gocritic 3.3 warning ifElseChain"
Find using: https://go-critic.github.io/overview#ifElseChain-ref

[2018-10-01 12:53] odino commented on #251
@niocncn I think you might need to first check the token without claims, in the source code of the library I see it firsts validates the claims and eventually performs the validation of the token:

https://github.com/dgrijalva/jwt-go/blob/master/parser.go#L62-L80

In your case I think you might run the refresh logic even if the token did not have a valid signature.

[2018-10-01 12:58] odino commented on #251
Actually, my bad: I see the signature is [anyhow checked before returning](https://github.com/dgrijalva/jwt-go/issues/114#issue-126745116) -- sorry for alarming! :)

[2018-10-17 19:09] charlesduarte019 commented on #258
The "VERIFY SIGNATURE" of jwt.io is like "your-256-bit-secret" since your signature is set to "string", so it returns invalid.
Change
[code]
to
[code]
 that jwt.io will say it is valid

[2018-10-21 08:35] FelixMH opened #300 "ParseFromRequest"
Hello, I am sorry to open issue, I'm not clearly if this is a issue but I need support to fix it my problem with this version.

I am using GO obviously, well, I have this code from the last version:

token, err := request.ParseFromRequestWithClaims(
		r,
		request.OAuth2Extractor,
		&models.Claim{},
		func(t *jwt.Token) (interface{}, error) {
			return commons.PublicKey, nil
		},
	)

I Saw that th

[2018-10-23 20:38] BattleBas opened #301 "Go Modules support"
Is there a plan to include go modules support?

I wouldn't mind making a pull request, looks like the project would just need to include a go.mod and go.sum file.

[2018-10-29 02:45] vijay1811 commented on #294
I also faced same issue after going through go mod docs I found a way to solve this. Assuming if we are using go mod then go version is 1.11
1. cd $GOPATH/github.com/gfrijalva/jwt-go
2. go mod init
3. go build
4. go get github.com/marwan-at-work/mod/cmd/mod
5. mod upgrade (this will take module version to v2)
6. mod upgrade  (v3).
7. Commit the changes and push it will work after this
@dgrijalva

[2018-10-29 22:41] uded opened #303 "JWT secret base64 encoded"
OK, I am most probably doing something wrong, but I can't make a JWT token with HSA512 and base64 encoded secret that will validate against jwt.io

Any solution?

[2018-10-31 08:09] JerryW007 commented on #163
how i can change the config for ignore the spelling check

[2018-11-01 11:58] shajalahamedcse commented on #303
Can you send any error log ? So that anyone can look around .

[2018-11-02 10:19] uded commented on #303
Well, not much of a log on this level. But I tried to sign the token with:

[code]

Just a simple test. I did more variations of this code and I was never able to get jwt.io to confirm that the token has a valid signature...

[2018-11-05 17:48] anamshah opened #304 "Key is of invalid type."
I am using ES256 as signin method. And i am getting the error. "**Key is of invalid type.**

Here is my code.

[code]

Please provide me proper example to solve.

[2018-11-06 10:53] source-creator commented on #290
I can confirm this issue.

[2018-11-13 05:53] maple-leaf opened #306 "jwt.ParseRSAPublicKeyFromPEM throw error: asn1: structure error: tags don't match"
complete error log
[code]

Code:
[code]

I don't understand what makes this error happen? Need some help :-)

[2018-11-13 05:56] maple-leaf commented on #306
my fault

should use `x509.MarshalPKIXPublicKey` instead of ` x509.MarshalPKCS1PublicKey`

[2018-11-13 05:56] #306 closed

[2018-11-13 07:16] amankaur27 opened #307 "JWT toke is expired when Go app is installed."
I am using following code to generate token while login:
[code]

**Problem**
When a user log in then its JWT token is generated and works well. Now the user did not logged out but closed the browser tab or window. Before he is back, the go app is re-installed with install command. Now the user come back and access his account, the token is expired and he could not see any of his details.

**Code t

[2018-11-15 05:19] JohnAmadeo commented on #290
Running into the same scenario. Isn't the problem here that VerifyAudience doesn't correctly parse the "aud" claim when is it an array of strings (vs. a single string)? jwt-go just turns the array of audience tokens into the empty string ""

@oponder did you find a way to get around the issue? I'm also using Auth0 and I don't know how to solve it since it seems like Auth0 only returns multiple aud

[2018-11-16 18:20] uded commented on #303
Any clues to what I am might be doing wrong?

[2018-11-22 05:01] gilcrest commented on #301
I would love this as well, but given this library is on v3.2.0 I think there would need to be changes to adhere to the Semantic versioning rules of modules. I think a new package needs to be created in order to adhere to these rules, so that we're importing "github.com/dgrijalva/jwt-go/v3" instead of "github.com/dgrijalva/jwt-go" as we do today. I could be wrong about this...

From [https://github

[2018-12-11 01:43] mdsolsawangwan commented on #294
@dgrijalva any update on this?

[2018-12-24 08:39] zgsxhcyxd opened #309 "key is of invalid type"
I got the following error:
[code]
by the following code.
[code]
Thank you very much.

[2018-12-24 14:15] edwardfward commented on #303
Try removing any encoder padding. I encountered the same issue validating the example signature in RFC 7519.
[code]

[2018-12-24 15:16] uded commented on #303
This case can be closed. Well, guess what - it was a mistake on my end in a way. Or, rather, misunderstanding on how jwt.io works with them vs. the library...

[2018-12-24 15:16] #303 closed

[2019-01-01 19:04] j0hnwhyte opened #310 "Refreshing token freezes the middleware"
Hi, I'm making some tests with the library, and it works fine. One issue I'm having is when making an invalid request for refreshing the token.

The request is `GET /auth/refresh_token` which I've mapped to the `RefreshHandler` middleware. As soon as I launch the request, I can see in the debugger that it stops in this line:

[code]

There is no token defined in the request, it seems that the libr

[2019-01-03 00:59] jooola commented on #287
I'm also running ino this, and I would like to fix it or find a workaround.

I'm working with chi, and I store user data inside the map claims. When trying to get the user ID (uin64), the server panic and logs me the following:
[code]

What would be the other way for passing data between the token and the server ?

[2019-01-03 01:08] voutasaurus commented on #287
@jooola I recommend converting your user ID to a string before putting it in the map when generating a token and back into an int when extracting it for auth (use the standard lib strconv package)

[2019-01-03 01:09] voutasaurus commented on #287
@jooola also generally I recommend you favor explicit types over MapClaims which use interface{}

[2019-01-03 01:16] jooola commented on #287
That was fast, thanks !

When you say explicit types, you are talking about using the ParseWithClaims function with supercharged standardClaims?
[code]

 https://godoc.org/github.com/dgrijalva/jwt-go#ParseWithClaims

[2019-01-03 01:55] voutasaurus commented on #287
`ParseWithClaims` is explicit if the custom type you use is explicit, in your case this is explicit since all the components of StandardClaims are explicit and uint64 is also explicit:
[code]

Glad you got it working!

[2019-01-10 17:59] Niondir commented on #257
I had the issue with `VerifyIssuedAt` and solved it this way:

You have to implement the "Valid" interface to call your `VerifyIssuedAt` implementation. Esle the implementation of the base type is called.
[code]

[2019-01-13 04:32] majuansari commented on #294
Any fixes for this ?

[2019-01-13 05:09] majuansari commented on #294
Started working this when I imported  "github.com/vladimiroff/jwt-go/v3" . Hope this helps some one

[2019-02-01 14:35] APTy commented on #246
+1 would like to see tighter conformance to the JWT spec, which places no restrictions on the "iat" claim. Any update on when this could be included in a future release?

[2019-02-05 19:48] markuswustenberg commented on #290
I got around it by using this ugly thing:

	claims := token.Claims.(jwt.MapClaims)
	parsedAud := ""
	switch aud := claims["aud"].(type) {
	case []interface{}:
		var auds []string
		for _, v := range aud {
			auds = append(auds, v.(string))
		}
		parsedAud = fmt.Sprintf("%v", auds)
	case interface{}:
		parsedAud = aud.(string)
	}
	if subtle.ConstantTimeCompare([]byte(parsedAud), []byte(expectedAud)

[2019-02-05 20:04] markuswustenberg commented on #290
@dgrijalva would you merge a PR solving this issue in the above way?

[2019-02-07 09:55] lansana commented on #310
Not sure what your issue is, but you can easily avoid a "freeze", aka likely a panic, by modifying your casting code a bit from this:

`claims := token.Claims.(jwt.MapClaims)`

To this:

[code]

[2019-02-13 12:43] gustavooferreira commented on #304
I was getting the same RSA.

In my case, even though the documentation says it expects an RSA key, what it actually expects is a pointer to that.
In your case it might be the same.

[2019-02-15 11:16] wolfrace opened #314 ""Token used before issued" when checking 'iat'"
I have out of sync problem.
Time on php server is different for a fraction of a second and because of this there is a problem when checking the token `Token used before issued`.

Is it possible to make the check less strict?
[code]

Now i use this workaround:
[code]

What would you advise me?

[2019-02-27 12:36] bombsimon commented on #257
I'm kind of in the same situation although my issue makes it even more messy. I want to allow a leeway when parsing a token and accept it if it's within the leeway. #314 addresses the same issue regarding the need to adjust the time while parsing.

It's seems odd to me that the documentation recommend you to use the global and public `TimeFunc` by stating:

I did some tests back and forth regardin

[2019-02-28 23:33] j0hnwhyte commented on #310
..of course. I was new to the language, and didn't think about the `ok` option.

[2019-02-28 23:33] #310 closed

[2019-03-02 14:26] brentgriffin commented on #294
Are there any plans to fix this?  If so, any idea when the fix will be available?

[2019-03-03 20:56] suessflorian commented on #314
Something to add to this conversation perhaps, I noticed that changing the local machines time to Apple America/U.S solves my problem...
![image](https://user-images.githubusercontent.com/23600725/53701601-a7d5c580-3e63-11e9-95fe-d2e11ebc9ad6.png)

[2019-03-03 20:57] suessflorian commented on #314
I originally was a few milliseconds off (the now and iat stamps), now they are consistently the same.

[2019-03-07 05:01] FelixMH opened #316 "ParseFromRequest"
I try to use ParseFromRequest() method, but I get a error that I can't solve.

This error it's : Cannot use ..... keyFunc in argument to Request.ParseFromRequest

I tried all and I've can't solve it,

I used to do this:

/*token, err := request.ParseFromRequestWithClaims(
		r,
		request.OAuth2Extractor,
		&models.Claim{},
		func(t *jwt.Token) (interface{}, error) {
			return commons.PublicKey, nil

[2019-03-07 15:13] sybrenstuvel opened #317 "Support multiple keys in a single PEM file"
To allow rolling updates of keys, we want to accept signatures from multiple public keys. This is easiest if the keys can be stored in a single PEM file (which can then be downloaded from a trusted source).

The `pem.Decode()` function already returns a slice of the remainder of the file, allowing for incrementally consuming the file's contents. We're now using this adaptation of `ParseECPublicKey

[2019-03-20 21:04] greenpau opened #318 "lack of instructions how to build jwt tool"
There are no instructions how to build `jwt` tool. Perhaps, it is worth adding something like this.

[code]

[2019-03-20 21:07] greenpau commented on #318
I also found a reference to it: https://github.com/go-swagger/go-swagger/tree/master/examples/composed-auth#prerequisites

[code]

[2019-03-21 17:12] pascaldekloe commented on #277
https://github.com/square/go-jose/commit/985395ef3b634972a0a831dbc22a1ae9078c5607

[2019-03-21 17:18] pascaldekloe commented on #317
Feel free to copy from a complete implementation at  <https://github.com/pascaldekloe/jwt/blob/master/register.go#L131>.

[2019-03-22 19:37] mdere-unbound opened #319 "Not sure how to get Claims after Token is expired"
so my overall goal is to refresh the JWT token but I want to confirm things inside the Claim of the original expired JWT token before the system proceeds issuing a new JWT token.

`	token, err := jwt.Parse(input.Token, &Claims{}, func(token *jwt.Token) (interface{}, error) {`
....where input.Token is an expired Token

then:

`f claims, ok := token.Claims.(jwt.MapClaims); ok { ....`

But I keep on

[2019-03-22 19:53] mdere-unbound commented on #319
ok after some searching....maybe my needed approach is this??

https://github.com/dgrijalva/jwt-go/issues/251

[2019-04-04 09:36] putrafajarh opened #320 "Change format json response"
How can i change this format response to my own format

[code]

i want to change something like this

[code]

i cant find how to do it

[2019-04-07 11:23] jesusvazquez commented on #301
@dgrijalva any plans to do this?

[2019-04-08 19:52] dgrijalva commented on #301
Now that the community seems to have landed on go mod, I think it's time to add support. I don't believe we can do so in a backwards compatible way, so this will land in v4.

[2019-04-08 21:46] #279 closed

[2019-04-08 21:47] dgrijalva commented on #277
@pascaldekloe thanks for the suggestion. I'm looking to include something like that in v4

[2019-04-08 22:06] dgrijalva commented on #291
This question is outside the scope of this library. This library is concerned with the creation, parsing, and validation of tokens. This question is more about their usage in a larger authentication protocol. That said, here's my _opinion_:

Use different tokens. Your authorization token should be short lived. Create a second, 'remember' token with a longer expiration time, or -ideally- use anothe

[2019-04-08 22:08] dgrijalva commented on #291
@superarts ^^

[2019-04-08 22:10] dgrijalva commented on #282
Good catch. I believe this will be resolved with the switch to a smarter type for time values in v4.

[2019-04-08 22:36] superarts commented on #291
Thanks, performance reason is convincing. Sorry to keep bring this out-of-scope question here ^.^

[2019-04-08 22:36] #291 closed

[2019-04-09 23:24] dgrijalva commented on #282
This is resolved on v4 branch.

[2019-04-09 23:24] #282 closed

[2019-04-09 23:25] dgrijalva commented on #301
This is landed on v4 branch

[2019-04-09 23:25] #301 closed

[2019-04-09 23:27] dgrijalva commented on #163
This is landed in v4 branch

[2019-04-09 23:27] #163 closed

[2019-04-09 23:28] dgrijalva commented on #184
This is landed in v4 branch

[2019-04-09 23:28] #184 closed

[2019-04-09 23:33] dgrijalva commented on #241
This has landed in v4

[2019-04-09 23:33] #241 closed

[2019-04-09 23:36] dgrijalva commented on #246
This is landed in v4

[2019-04-09 23:36] #246 closed

[2019-04-09 23:38] pascaldekloe commented on #282
The NewTime float64 conversion is still imprecise and complicated @dgrijalva. Please have a look at <https://github.com/pascaldekloe/jwt/blob/master/jwt.go#L277>.

[2019-04-09 23:50] dgrijalva commented on #282
Yeah. That’s better. Thanks.

-dave

[2019-04-10 10:49] pascaldekloe commented on #282
Still there, please reopen the issue so that this won't be lost.

[2019-04-10 17:33] dgrijalva commented on #282
just got back to my computer. landed the change

[2019-04-10 17:36] dgrijalva commented on #319
You should be able to use ParseUnverified to look at the contents of an expired token. That said, you probably should not be reissuing tokens from expired ones.

[2019-04-10 17:36] #319 closed

[2019-04-10 17:38] dgrijalva commented on #314
Issued at checking will be removed in v4, per the jwt spec.

[2019-04-10 17:39] dgrijalva commented on #320
I don't think I understand what you're trying to do. Could you please elaborate?

[2019-04-12 08:07] dan-lind opened #321 "New version coming?"
Not really reporting an issue, but wondering about the general state of this library.
The readme mentions a new version (4.0) coming, but there has been very few commits over the last year. Is the library still actively being developed and will there be a version 4.0 ?

[2019-04-13 10:51] birdycn opened #322 "my claims have slicie members,and they can not be parse"
[code]

the Roles and Business's value will be []empty

[2019-04-17 04:26] montanaflynn commented on #314
@dgrijalva is there a workaround available now? I'm also seeing this issue on a small amount of requests.

[2019-04-19 09:02] Inconnu08 commented on #321
It seems to be on active development for 4.0.0. So yes there will be. See pull request #248

[2019-04-19 14:53] jintian93 opened #323 "error"
[code]

[2019-04-19 16:50] dgrijalva commented on #321
4.0 is coming. I spent most of last year away from my computer, so things were quiet for a while. Actively working on 4.0, which is pretty far along, but not yet api stable. There’s a backlog of api breaking feature requests I’m working through.

-dave

[2019-04-24 08:05] Sabelo11 opened #324 "non-standard import "github.com/jinzhu/gorm" in standard package"
I'm trying to debug a server but it give me these errors:
1) can't load package: C:\Go\src\nemaapi\server\server.go:9:2: non-standard import "github.com/gin-gonic/gin" in standard package "nemaapi/server"

2) C:\Go\src\nemaapi\server\api\accountApi.go:17:2: non-standard import "github.com/dgrijalva/jwt-go" in standard package "nemaapi/server/api"

3) C:\Go\src\nemaapi\server\db\database.go:8:2: no

[2019-04-25 02:32] dgrijalva commented on #324
I’m not very familiar with debugging go on windows, but that looks like the culprit is likely something about how nemaapi/server is loading dependencies.

-dave

[2019-04-26 11:00] niya3 commented on #231
@MadMax411 Perhaps the wrong algorithm was used. I got the same error after using the pair that was generated by the command `openssl ... secp256k1 ...`, while `ES256` in the JWA specification assigned `ECDSA using P-256 and SHA-256` which means `secp256r1`

[2019-04-29 16:21] dan-lind commented on #321
Great to know, thanks!

[2019-05-04 20:50] itstehkman opened #325 "does this support the x5c field in JWS? (RFC-7515)"
This would be an awesome feature. I took a very quick look and it seems like this project does not support it, but maybe I am wrong.

See https://tools.ietf.org/html/rfc7515#section-4.1.6 for more details on this field - it is essentially providing the certificate and its chain in some JWT headers so that both the signature and the cert can be verified.

FWIW, I am trying to add support to the mai

[2019-05-09 22:38] dgrijalva opened #326 "Support for xerrors/Go 2 error functionality"
This library would definitely benefit from the [standardization the go team is building](https://go.googlesource.com/proposal/+/master/design/29934-error-values.md) for safe error introspection. I've tried to make it possible to introspect errors at runtime without ever resorting to a string compare. This makes some oft-requested features (such as 'expired by X') a bit challenging. I've also tried

[2019-05-10 07:13] thanawatkate opened #327 "how to SignedString RS256 ?"
key, _ := jwt.ParseRSAPublicKeyFromPEM([]byte(appkey))

		token := jwt.NewWithClaims(jwt.SigningMethodRS256, claims)

		tokenString, err := token.SignedString(key)

*** I tested and returned empty.
Help guide me  Thank You

[2019-05-21 22:13] dgrijalva commented on #235
This has landed on the v4 branch.

[2019-05-21 22:13] #235 closed

[2019-05-21 22:26] dgrijalva commented on #327
Check the error. `SignedString` should never return both an empty string and a nil error. You should get one or the other. We try to make the error messages easy to understand.

The most common problem is an invalid key. You should also check the error returned `ParseRSAPublicKeyFromPEM` to make sure the parsing went ok.

[2019-05-21 22:27] dgrijalva commented on #324
Closing this as it doesn't seem to pertain to this package. Please feel free to reopen if you would like to follow up.

[2019-05-21 22:27] #324 closed

[2019-05-21 22:29] dgrijalva commented on #325
It does not at the moment, though I'd be open to reviewing a PR.

[2019-05-21 22:30] dgrijalva commented on #320
Closing ticket. If you would like to follow up, please feel free to reopen.

[2019-05-21 22:30] #320 closed

[2019-05-21 22:31] dgrijalva commented on #318
Good point. I forgot that was in there. I'll make a note to add some documentation for the next release.

[2019-05-21 22:34] dgrijalva commented on #322
Without more code, it's difficult to diagnose what your issue might be. My guess is the json decoder doesn't know how to decode into the `Role` and `Business` types you are using. Those types need to either be directly supported by the json package or they need to [implement the JSON `Unmarshaler` interface](https://godoc.org/encoding/json#Unmarshaler).

[2019-05-21 22:36] dgrijalva commented on #316
Can you post the error you are getting?

[2019-05-21 22:41] dgrijalva commented on #314
Simplest workaround is probably to wrap your claims type in something custom that bypasses the IAT check. Here's a lazy example I didn't actually test. Something like the following should work:

[code]

[2019-05-21 22:43] dgrijalva commented on #323
That's odd. What version/commit are you using?

[2019-05-21 22:45] dgrijalva commented on #304
The library will not automatically parse your key from a byte slice. For `ES256`, I believe you need to provide a key of type `*ecdsa.PrivateKey`. As of v4, this will also accept a `crypto.Signer` so long as it produces a valid signature for that signing method.

[2019-05-21 22:45] #304 closed

[2019-05-21 22:46] dgrijalva commented on #322
Closing this ticket. Feel free to reopen if you have more information and still need help.

[2019-05-21 22:46] #322 closed

[2019-05-21 22:52] dgrijalva commented on #290
This should be fixed in the upcoming v4. There's no way to fix it for `StandardClaims` without breaking the API. I'm on the fence about backporting the `MapClaims` version of the fix to v3 as quietly changes behavior.

[2019-05-21 22:52] #290 closed

[2019-05-21 22:58] dgrijalva commented on #287
The numbers thing is due to the way the standard library json package parses numbers as `float64`. IIRC, this is due to the way the JSON spec treats numbers. If you want to use `MapClaims` and don't like this behavior, you can use the `UseJSONNumber` flag on the parser. This will cause all numbers to be returned as type `json.Number`, which can then be unpacked to various numeric types.

The custo

[2019-05-21 22:59] #287 closed

[2019-05-21 23:15] dgrijalva commented on #206
I've always felt this design was a bit clunky. I've seen other libraries where you just pass in the key, but there are a lot of use cases where you need information in the header in order to provide the correct key.

I've seen implementations where different signing methods are used for different type of client/operation. There's also the [`kid`](https://tools.ietf.org/html/rfc7515#section-4.1.4)

[2019-05-21 23:34] dgrijalva commented on #257
Proper support for leeway is coming soon in v4. My wrapper example above is also wrong (sorry). Here's a quick, working example:

[code]

[2019-05-21 23:37] dgrijalva commented on #257
Closing this ticket as leeway support is coming in next major version.

[2019-05-21 23:37] #257 closed

[2019-05-21 23:38] dgrijalva commented on #253
Closing issue. If you believe the issue is not resolved, please feel free to reopen and provide more information.

[2019-05-21 23:38] #253 closed

[2019-05-21 23:40] dgrijalva commented on #158
Closing super hold ticket. Please feel free to reopen and provide a failing example. Thanks

[2019-05-21 23:40] #158 closed

[2019-05-22 11:48] rkl- opened #329 "Violating of Liskovs substitution principle"
In my opinion, the method `func (t *Token) SignedString(key interface{}) (string, error)` in `token.go`, violates the Liskovs substitution principle. `key` is expected to be of type `interface{}` but on a deeper layer it has to be of type `[]byte`. This violates the substitution principle, because `SignedString` has an unexpected behaviour. The method  claims to handle `interface{}` keys, but that

[2019-05-22 18:01] dgrijalva commented on #329
I don't disagree. It's a compromise. It's also the most common place users get tripped up by this library.

The challenge is, every signing method takes a different key type. Even uniform interfaces like `crypto.Signer` aren't really sufficient. We're adding support for `crypto.Signer` in v4 and it still has to do a type check to ensure the signer will use the appropriate algo.

I considered putti

[2019-05-23 09:51] omerlh commented on #301
Is there a way to use it v4? I couldn't find a release...

[2019-05-23 10:27] rkl- commented on #329
Is it necessary, to define the signing method before the used key?

[2019-05-23 12:48] gilcrest commented on #301
Hi @omerlh - there is a [v4 release](https://github.com/dgrijalva/jwt-go/tree/release_4_0_0) and it has a go.mod file [here](https://github.com/dgrijalva/jwt-go/blob/release_4_0_0/go.mod). Hope this helps!

[2019-05-23 12:50] omerlh commented on #301
Sorry, I'm pretty new to go - when trying to run `go get github.com/dgrijalva/jwt-go` it resolve to the latest v3 - how can I specific v4? I tried with v4.0.0 and it wasn't able to find a relevant version.

[2019-05-23 13:09] gilcrest commented on #301
No worries @omerlh - I have to run out for a bit, but check out https://blog.golang.org/using-go-modules and the section "Adding a dependency on a new major version". I haven't actually done this yet with jwt-go myself, but believe if you add an import like

[code]

and then switch a piece of your code to use jwtv4 and it should automatically go grab the v4 branch...

[2019-05-23 18:01] dgrijalva commented on #301
The v4 branch will undergo a few more changes before it's signed off. See the milestone for the list of remaining tickets.

[2019-05-23 18:07] dgrijalva commented on #226
@darkk a default, small leeway value is an interesting idea. Thanks.

In v4, we're dropping the in-built IAT validation. The spec says this value is intended to be informational rather than verified.

We are also adding support for user defined leeway. I'm going to think about a default value in addition.

[2019-05-23 23:14] dgrijalva commented on #329
When creating a token, you must specify the signing method as an input to the `New` function.

When parsing, the signing method is inferred from the `alg` property in the token's header. This is one of the reasons the key is provided by a callback instead of inline. Before the callback is invoked, the header is parsed and the `Method` property is populated with the correct signing method.

[2019-05-24 15:42] tegk opened #332 "Why is token expired?"
I was expecting that the token is valid but false is returned from `token.Valid`
[code]

if I parse the token like this `token.Valid `is true

[code]

[2019-05-24 19:15] dgrijalva commented on #332
You are ignoring the returned error. It will probably have your answer.

Also, you are passing nil as the second argument. The token cannot be validated without a key and that function provides the key.

-dave

[2019-05-27 07:35] FelixMH commented on #316
This is the error that I getting :

![Image -  error index out of range](https://i.ibb.co/4Y2qF9n/error-indexoutofrange.png)

I tried to post a comment with the API and this is the error that I have.

I hope a help to you, I have so much weeks with this issue.

[2019-05-27 07:35] FelixMH commented on #316
the error is Index out of range..

[2019-05-27 07:43] FelixMH commented on #316
this is the code where I have the error ...

db.Model(&comment).Related(&comment.User)
	comment.User[1].Password = ""

because of that is the index out of range...

[2019-05-27 11:37] vishal91 commented on #332
Facing the same issue. Printed out a token. It matches with what was sent.

[2019-05-27 17:12] omerlh commented on #301
Thanks I'll try it out!

[2019-05-27 20:14] tegk commented on #332
Why would it not be possible to read a claim like expiry without providing a key?

[2019-05-28 19:07] dgrijalva commented on #332
Claims are only interesting if the signature is valid. Without a verified signature, the claims could be modified by a malicious actor. JWT is essentially just signed JSON, so the signature is most of the point of the format.

That said, you can use the `ParseUnverified` method if you want to ignore validation and just see what's inside. I recommend against this in any context other than testing/d

[2019-05-28 19:08] dgrijalva commented on #332
@vishal91 Did you look at the errors produced?

[2019-05-28 19:17] dgrijalva commented on #316
This doesn't look like it's related to this library, but I'd wager you are seeing that panic because `comment.User[1]` does not exist. You should probably put some validation code in there to verify the value is present before you attempt to use it.

Closing this ticket as it appears unrelated. If you believe that's not the case, please feel free to reopen.

[2019-05-28 19:17] #316 closed

[2019-05-28 19:45] FelixMH commented on #316
I'm able to understand that this error  it's because the comment.User[1] doesn't exist.

Before when ParseFromRequestWithClaims wasn't deprecated
this error didn't get out for my api.

[2019-05-28 19:47] FelixMH commented on #316
the code in the top it's how before I used it but now I am force to use ParseFromRequest and I don't know how can I replace "ParseFromRequestWithClaims" with ParseFromRequest, it's the only part of my code that getting panic.

[2019-05-28 21:02] dgrijalva commented on #316
You can use `ParseFromRequest`, passing `WithClaims(myClaims)` as the last argument.

[2019-05-28 21:04] dgrijalva commented on #316
Alternatively, you can use the request package to extract the token string from the request, then use any of the tools in the main (jwt) package.

[2019-05-28 21:10] dgrijalva commented on #294
Support for go modules is coming in v4. I don't think it's possible to add support as a non-breaking change.

[2019-05-29 01:56] FelixMH commented on #316
I tried to pass the WithClaims and I getting panic too. I don't know what is the error getting because before the last version I don't remember which, was ok.

[2019-05-29 08:48] tegk commented on #332
Thank you Dave for your answer which resolved my issues!

I am connecting a IoT device to my server and I need to look up a custom claim to look up the associated public key. This works but I was expecting that I could also prematurely check for expiry with `toekn.Valid` to give back a bad status response so I do not have to look up the public key from my database. I was expecting that `token.Vali

[2019-05-30 02:39] suared opened #333 "Getting Response & Error?"
I have the below key (issued by cognito - pasted at bottom).  I validated in jwt.io successfully.

When calling: 	token, err := jwt.Parse(tokenString, func(token *jwt.Token) (interface{}, error) { return token }

I get both a token and an error.  The token has the right claim I can pull but I have an error that the key is not valid.  What does that mean given it is from the service and passes jwt.

[2019-05-30 03:49] suared commented on #333
If it helps, I was tracing another key (above one now expired so you need to regen to troubleshoot unfortunately) and these are the lines where it fails:
	if rsaKey, ok = key.(*rsa.PublicKey); !ok {
		return ErrInvalidKeyType
	}

It is in rsa.go:61.  My question is why does it pass in jwt.io?  It seems like a defect if passes in jwt.io and not in this code, correct?  What is the best way for you t

[2019-05-30 17:40] dgrijalva commented on #333
Please don't share keys here. This token uses the signing method (`alg`) `RS256`. You must provide a key of type `*rsa.PublicKey` in order for the library to be able to verify your token.

If you print the error, you will see a message indicating as much. The library doesn't automatically parse the key for you, though there are helpers available for parsing keys from common formats. See `ParseRSAP

[2019-05-30 17:42] dgrijalva commented on #333
You absolutely should not ignore any error returned by `Parse`. If you get an error, one of two things happened:

- The token is invalid
- The token could not be parsed or validated

In either event, you should not trust the token. If you look at the returned error, it should provide an explanation for why it failed.

[2019-05-30 18:04] dgrijalva commented on #332
The Claims interface provides `Valid()error`. This code will be exercised again by the library after the signature is verified. It's probably still more efficient than a DB call, but only if you get a high percentage of expired tokens.

[2019-06-01 08:38] fredbi commented on #249
@dgrijalva I made a jwk signature checker on top of go-jwt, which works on top of square/go-jose JWK type, plus some jwks fetcher. After battle testing this on our systems, maybe one of these components could be contributed to either go-jwt or some sister repo. But I don't know if there is a "no square jose around" policy here.

[2019-06-02 00:02] suared commented on #333
Thank you for the pointer.  It is now solved for Cognito!  May I suggest in your example docs you add a placeholder comment that says "return Key here if RSA " in the parse block.  It would probably help save you from others running into the same issue.  Thanks again for the help!
Side note:  the key above is "garbage/ temp dev env" so no huge worry there.

[2019-06-02 00:02] #333 closed

[2019-06-03 06:21] vishal91 commented on #332
Resolved for me.. Issue with SigningMethod **Type**.

[2019-06-04 18:31] cstrahan commented on #249
@fredbi Have some code you can throw up somewhere?

[2019-06-05 09:15] Tibate opened #335 "ParseWithClaims Key Type error using a rsa.PrivateKey"
Hello !
First thanks for your work. I'm a beginner with go and jwt and i'm building a REST app using your work and i'm having trouble with the "ParseWithClaims" method as it returns me a "Key of invalid type" error. I've read the othe rissues talking about this error and tried to parse the key, change the type etc... it still returns me the error even tho i'm using a RS256 Signing method and givin

[2019-06-05 09:31] sun-wenming opened #336 "I found that the token signed with rsa256 can be parsed directly on the website."
gen token code ：
[code]
Do I need to encrypt the stored data again?

In http://jwt.calebb.net/
![image](https://user-images.githubusercontent.com/22268505/58945984-7f899a00-87b7-11e9-84a1-01b9713779e4.png)

[2019-06-05 16:00] dgrijalva commented on #335
Edited your message to include the whole function in code block.

The most obvious guess would be that you're passing a private key in where the public key is what you need. That key parsing function will give you an `*rsa.PrivateKey`, which is what you need to sign. But you need the public key to verify. Luckily, you can [get a public key from the private key](https://godoc.org/crypto/rsa#Private

[2019-06-05 16:04] dgrijalva commented on #336
JWT tokens do not encrypt their contents. The signature prevents tampering, but doesn't hide the contents. There's a sibling spec called JWE that supports an encrypted payload, but this library does not implement that spec. There's an open feature request to do so, but the changes would be larger than this whole library, so I haven't gotten to it.

There are other Go libraries available that suppo

[2019-06-05 16:04] #336 closed

[2019-06-05 16:06] dgrijalva commented on #336
Or you could, as you mentioned, encrypt the data yourself and stick it in a JWT, if that suits your end goals. I'd wager you'll get more mileage out of following the JWE spec.

[2019-06-05 16:20] dgrijalva commented on #332
Looks like this is resolved. closing.

[2019-06-05 16:20] #332 closed

[2019-06-05 16:20] dgrijalva commented on #329
Looks like this is resolved. Please feel free to reopen if you feel otherwise.

[2019-06-05 16:20] #329 closed

[2019-06-05 16:21] dgrijalva commented on #327
Closing issue as there's been no reply. If you still need help, feel free to reopen.

[2019-06-05 16:21] #327 closed

[2019-06-05 16:22] #267 closed

[2019-06-05 17:53] nghtstr commented on #262
Since no one has come up with anything for this problem, I have found a hack-is solution to this problem. When I get the token (which I have as a variable named `user`), I immediately JSON Marshal the Claims of it, and then Unmarshal it into the appropriate Claims I created it as.

This is what I did for myself.

[code]

[2019-06-05 20:37] dgrijalva commented on #262
I modified this code so I could run it standalone. It appears to work just fine.

[code]

I suspect this has something to do with `Auth.User` interfering with the `Claims` interface.

[2019-06-05 20:39] dgrijalva commented on #323
Closing as there has been no feedback.

[2019-06-05 20:39] #323 closed

[2019-06-06 01:41] sun-wenming commented on #336
I have encrypted the data and stick it in a JWT. Then I will learn to learn JWE.
Thank you very much.

[2019-06-06 09:19] Tibate commented on #335
Thanks for the anwser !
I took the public Key from the private using the Public() method, it "works" i just get another error type now "crypto/rsa verification error" , so it might come from the way i generate my Keys in the first place.
Thanks for the tips.

[2019-06-06 09:38] #335 closed

[2019-06-12 11:59] tegk opened #337 "Error return value not checked"
Should we not check those error values?
[code]

[2019-06-12 12:03] tegk opened #338 "ineffectual assignment to `err`"
We should do something with err :-)
[code]

[2019-06-17 02:50] shanghai-Jerry commented on #264
How do I get a permanent token?

[2019-06-17 03:08] shanghai-Jerry commented on #238
great

[2019-06-20 17:56] dgrijalva commented on #337
Thanks!

Per the documentation, hasher.Writer cannot return an error. Maybe we should add that as a comment? Maybe we should check anyway?

In the http example stuff, I omitted some of the error stuff for clarity. That's probably worth reconsidering, based on all the tickets people open where they're throwing away the error and then asking what's going wrong.

That  last one, we should definitely

[2019-06-20 17:57] dgrijalva commented on #338
Let's just track this one with #337, so we don't have to manage two.

[2019-06-20 17:57] #338 closed

[2019-06-20 17:58] dgrijalva commented on #337
Also this one, pulled in from #338.
[code]

[2019-06-24 04:32] brentgriffin commented on #294
Thanks for the response about it coming in v4 - what is the projected timeframe of v4?

[2019-06-26 21:12] nghtstr commented on #262
I don't know what that could be, but here is my Auth struct:

[code]

[2019-06-29 11:17] Seiterle commented on #249
An example in the documentation on how to use jwk would be nice, as it is probably a common use-case and help is no trivial to find. Here is an example:

https://stackoverflow.com/a/41078085

[2019-07-07 03:40] gustavocd commented on #264
I'm not sure if you can get permanent token, but you can set a very big expiration time in order to emulate a permanent token.

[2019-07-07 03:48] gustavocd commented on #294
I faced some issues with go modules and jwt-go package, and taking a look in the format of other require modules inside my `go.mod` file I realized you can "import" them in a certain format, like so:

`github.com/dgrijalva/jwt-go v0.0.0-20180308151308-06ea1031745c // inderect`

`20180308151308` -> this part is the date of the last commit made on master branch
`06ea1031745c` ->  it's the first 12 l

[2019-07-11 08:11] choenig opened #340 "Verification of ExpiresAt seems not RFC-conform"
Hi,

The RFC (https://tools.ietf.org/html/rfc7519#section-4.1.4) states for ExpiresAt:

Though the `verifyExp`-func accepts a Token, whose `expiresAt == now`.

My understanding is, that the correct implementation would be:
[code]

Br
Christian

[2019-07-15 13:23] rebootcode commented on #307
use paseto (https://github.com/o1egl/paseto), "dgrijalva/jwt-go" library is way too much broken. Another issue you will find when you change "SignedString" and create new claim and verify it. It will never verify.

I switched to paseto and out of "dgrijalva/jwt-go" PIA mode.

[2019-07-16 05:49] Saurav-Suman opened #341 "panic: json: cannot unmarshal array into Go value of type jwt.MapClaims"
I am trying to add below data in payload but while passing this data for JWT auth check its giving me below error:
**_This issue is happening because of i started my JSON as []_.
panic: json: cannot unmarshal array into Go value of type jwt.MapClaims**

Sample data:
`[{
        "id": "0001",
        "type": "donut",
        "name": "Cake",
        "ppu": 0.55,
        "batters": {
            "bat

[2019-07-18 02:23] qurui721 commented on #208
thianks.

[2019-07-18 05:42] shanghai-Jerry commented on #264
Getting permanent token, you can set `claims["exp"] = 0` and it works

[2019-07-21 19:54] chmorgan opened #342 "Is there an easy way to set IssuedAt field from the current time?"
Would now be something like time.Now().Unix()?

[2019-07-22 20:01] jakubknejzlik commented on #37
@dgrijalva how to do the parsing in recently released V3?

[2019-07-23 03:17] hqm19 opened #343 "Why code as this？"
func (t *Token) SigningString() (string, error) {
	var err error
	parts := make([]string, 2)
	for i, _ := range parts {
		var jsonValue []byte
		if i == 0 {
			if jsonValue, err = json.Marshal(t.Header); err != nil {
				return "", err
			}
		} else {
			if jsonValue, err = json.Marshal(t.Claims); err != nil {
				return "", err
			}
		}

		parts[i] = EncodeSegment(jsonValue)
	}
	return strings.Jo

[2019-07-25 08:41] karl-gustav commented on #258
Is there some other go jwt library that doesn't have this bug?

@charlesduarte019 I'm guessing the `[]byte ("string")` is just an example and not meant to be the actual secret...

[2019-07-29 13:43] nikitarentateam opened #345 "json: cannot unmarshal object into Go value of type jwt.Claims"
https://github.com/dgrijalva/jwt-go/blob/master/parser.go#L131
this decode code always returns decode error
```json: cannot unmarshal object into Go value of type jwt.Claims```
because claims variable is declared as interface not a struct

[2019-07-29 19:24] dgrijalva commented on #345
`jwt.Claims` is an interface. The claims value you pass into the parser needs to be a concrete type. It's essentially passed directly through to the standard library JSON parser and will follow that behavior.

[2019-07-29 19:24] dgrijalva commented on #343
I don't understand the question.

[2019-07-29 19:24] #343 closed

[2019-07-29 19:25] dgrijalva commented on #343
If you'd like to rephrase your question to be more specific, feel free to reopen.

[2019-07-29 19:26] dgrijalva commented on #342
That would do it. I'd probably do `time.Now().UTC().Unix()` to avoid any timezone issues.

[2019-07-29 21:59] chmorgan commented on #342
Doh, good call on the UTC, I was doing it without that.

[2019-07-30 09:38] nikitarentateam commented on #345
The error is that json decoder could not decode to variable of type Claims, because Claims is an interface and decoder do not know what real type is
I wrote an example of code, based on https://github.com/dgrijalva/jwt-go/blob/master/parser.go#L131

With error: https://play.golang.org/p/WT5yd2X_iCI
Without error: https://play.golang.org/ https://play.golang.org/p/2NOnAf267HA

[2019-07-30 15:11] maxshifrin opened #346 "Add support for encryption"
It would be great if this library could also support [payload encryption](https://tools.ietf.org/html/rfc7516)

It would greatly help in case sensitive information needs to be stored inside the JWT token, and offload the need to encrypt it in every application separately

[2019-07-30 16:52] charlesduarte019 commented on #258
@karl-gustav I dont see this as a bug.

The same key that you use in your code, you should set when you validate in the site. They use any key as example. And your token would be more safe if you define other.

[2019-07-30 18:19] dgrijalva commented on #342
Yeah. It's not strictly necessary if the machine the app runs on is already in UTC, which is likely for a server. That may not always be the case (dev environments, configuration mishaps, unique environments) so it's worth being explicit where it matters.

[2019-07-30 19:01] dgrijalva commented on #346
I've looked into it. JWE is a sibling standard to JWT. I'm open to supporting it, but it's considerably more complex, so it'll require some work and an extended API. At the moment, I'm trying to wrap up the next major version. It would be best to take a look at JWE again after that ships.

[2019-08-07 10:14] marcelloh opened #347 "token expired still doesa validation on the key"
in parser, there is a part where you have the comment // Validate Claims
if i have an expired token, it will do line 70 : vErr = e

Since there is an error, I think there is no need to do this part anymore:
if err = token.Method.Verify(strings.Join(parts[0:2], "."), token.Signature, key); err != nil {

in my test it fails there because "key is of invalid type".
Which is strange because when I debu

[2019-08-07 17:07] jeffkayser2 opened #348 "ParseWithClaims: getting json error when processing JWT that has multiple values for audience"
I am using JWT tokens generated by Auth0 and oauth2.  The token payload looks like this:

`{
  "iss": "https://redacted.auth0.com/",
  "sub": "google-oauth2|redacted",
  "aud": [
    "https://redacted:443/app/v1",
    "https://redacted.auth0.com/userinfo"
  ],
  "iat": 1565196366,
  "exp": 1565282766,
  "azp": "redacted",
  "scope": "openid profile email",
  "permissions": [
    "admin"
  ]
}`

Be

[2019-08-07 17:48] jeffkayser2 commented on #348
[Issue348_Fix.zip](https://github.com/dgrijalva/jwt-go/files/3478283/Issue348_Fix.zip)

[2019-08-07 17:49] jeffkayser2 commented on #348
I have fixed the code, but ran into an issue trying to push the change to github, so I attached a ZIP file of the changes instead.

[2019-08-07 22:33] jugaltheshah commented on #348
Having the same issue. Wouldn't this fix cause backwards compatibility issues @jeffkayser2? I'm very new to Go so I don't know if this is possible, but it almost seems Audience needs to be defined as `Array | string`, which also matches the spec: https://tools.ietf.org/html/rfc7519#section-4.1.3

[2019-08-08 13:53] jeffkayser2 commented on #348
Good point.  Could make it an interface{} instead.  Would have to work through the various test cases to ensure that both Array and string claims are properly decoded and validated.

[2019-08-08 16:00] RavenHursT opened #349 "Docs: Add imports to all example snippets"
Would be nice to have all the snippets in the documentation have complete `import` statements of all the packages referenced in each snippet code.

When a new Gopher comes along, trying to learn, and comes across a snippet like below..  It makes it _really_ tough when snippets like this can't just be copy/pasted into things like, https://play.golang.org/ w/o first investigating and figuring out wh

[2019-08-13 08:01] yxqme opened #350 "go get showing many errors"
I am a newbie

when i use

go version go1.12.7 darwin/amd64 with go modules

[code]

I get many errors

[code]

when i use

[code]

it work fine ~ why ?

[2019-08-19 14:11] Sobakaa opened #351 "Is there a way to flatten custom claims in the resulging JSON?"
I have a case when some function will return me a map of claims and their values to add to the list of Claims. Unfortunately i have no way to tell upfront what those claims would be, i just know that it would be a string:string map.
I've tried doing something like this:
[code]
However, the resulting JSON makes the "key":"value" pair nested, like that and i can't find a way to unmap it into a flat

[2019-08-19 18:25] dgrijalva commented on #351
Dealing with unknown keys is a bit tricky. This library depends on the standard library's `encoding/json` package, so you should be able to rely on any knowledge about its behavior. Also, `MapClaims` is already provided by the library and is an alias of `map[string]interface{}`.

I think your implementation looks just fine. You could clean it up by using a literal for your known values:

[code]

O

[2019-08-20 13:11] Sobakaa commented on #351
I'm very much new to Go, so i was not sure whether my solution looked like something experienced people would actually implement.
That idea with ensuring important claims are not overwritten by incoming token values is a rather good one, thank you!
I guess that solves my issue so i'll go ahead and close this issue.

[2019-08-20 13:11] #351 closed

[2019-08-22 10:07] tarunja opened #352 "ParseRSAPublicKeyFromPEM: panic: runtime error"
I am getting panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x0 pc=0x586a3b]

When I print logs I got below logs
**cfg.RedisClient value**  Redis<localhost:6379 db:0>
**certChecker cert value**
 **jwt.ParseRSAPublicKeyFromPEM result value**  <nil>

I am below code and it like I got cert value empty and it goes break in ParseRSAPublicKeyFrom

[2019-08-22 10:12] tarunja opened #353 "RSA 256: error in jwt.ParseRSAPublicKeyFromPEM"
I am getting panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x0 pc=0x586a3b]

I am getting cert value empty and it breaks in  jwt.ParseRSAPublicKeyFromPEM([]byte(cert)). I am not getting why I got error in this.

I am using below code :
[code]

I got below logs:
cfg.RedisClient value  Redis<localhost:6379 db:0>
certChecker cert value
 jwt.P

[2019-08-22 16:29] dgrijalva commented on #353
[Edited question formatting for readability]

[2019-08-22 16:32] dgrijalva commented on #353
`result, _ := jwt.ParseRSAPublicKeyFromPEM([]byte(cert))`

The `_` here is an error value. The key is failing to parse and that error value will hold the reason why.

[2019-08-24 19:06] peregrinius commented on #65
Who else is still getting this error in 2019? 😆

[2019-08-25 05:16] RiceeeChang opened #354 "Error event on Sentry"
How to let this error "token contains an invalid number of segments", not send event to Sentry?

[2019-08-27 16:49] dklesev commented on #348
@jeffkayser2 why you don't make a PR?

[2019-08-28 20:34] dklesev commented on #348
Refactored in favour of your solution (I think it's cleaner, hope it's ok for you to push parts of your code), please see #355

[2019-08-29 04:34] jeffkayser2 commented on #348
No problem! Thanks for doing that.  One of these days, I'll figure out git.  :-)

[2019-08-30 05:02] ttys3 commented on #276
@danielbprice  thanks for the explain.

I'm confused too until now I check the source code.

[code]

so, if `StandardClaims.ExpiresAt` is not set ( or has a value of 0),
`VerifyExpiresAt()` will always return false if the required param is true.

else  if `StandardClaims.ExpiresAt` is set with a value,
the func will check that if the `cmp` (in fact it is `now` in `verifyExp()` ) is less than or eq

[2019-08-31 03:14] Igorpollo commented on #65
4 years later...

[2019-08-31 06:28] isamankumara opened #356 "When create jwt token inside loop getting same token"
I am creating jwt tokens using jwt-go library. Later wrote a script to load test. I have noticed when I send the many concurrent request getting same token. To check more about this I created token inside for loop and result is same.

code as follows,
[code]

[2019-09-03 12:21] fredbi opened #358 "enhancement: replace stdlib json by jsoniter"
`github.com/json-iterator/go` is currently one of the fastest libs available to process json.
Besides, it is a simple drop-in replacement for the standard lib, without much code change.

I am proposing PR #357 to validate the concept and expose benchmarks on signing and parsing methods.

NOTE: due to some changes in the order of marshalled claims, testable examples verifying the value of the signe

[2019-09-05 06:31] 1995parham commented on #356
I think you are using the same claims for tokens so you must get the same token. If you want to get different tokens, you can set IssueAt field in StandardClaims. However, consider waiting 1 second to generate a new token because Unix timestamp has 1-second accuracy.

[2019-09-05 07:25] isamankumara commented on #356
yes that's why..

[2019-09-05 07:25] #356 closed

[2019-09-05 08:37] saltbo commented on #358
expect！

[2019-09-06 07:35] fredbi commented on #358
Attention: notice that this breaks compatibility with older golang versions.
I don't think that keeping a compatibility promise back to versions older than 1.7 brings much value.
This PR imposes golang 1.7+.

[2019-09-25 13:04] claudioontheweb opened #359 "Problem with jwt.ParseWithClaims"
Hi!

I Implemented an JWT-Middleware according to a GitHub Repo I have found which is based on the official documentation:

[code]

When I run the program, the following error occurs:

``auth/middleware.go:30:45: cannot use func literal (type func(*jwt.Token) (interface {}, error)) as type jwt.Keyfunc in argument to jwt.ParseWithClaims``

My IDE also shows an error:

``Cannot use 'func(token *jwt.

[2019-09-26 15:06] evzpav commented on #359
Isn't the problem with your

[2019-09-28 17:21] nathan-fiscaletti opened #360 "Documentation for VerifyExpiresAt is incorrect"
The `VerifyExpiresAt` function for Claims has incorrect or unclear documentation. It states that it will compare the `exp` claim to `cmp`, which is indicative of a `==` comparison, when in reality it does a `cmp <= exp` comparison.

[2019-09-29 14:23] claudioontheweb commented on #359
No, this works all fine. It's the same as in the demo and the tutorial...Also the error appears anyways, no matter what I pass in there.

[2019-09-29 15:11] nathan-fiscaletti commented on #360
The same goes for `VerifyNotBefore` and `VerifyIssuedAt`

[2019-10-07 11:52] vpmv commented on #359
I just implemented a similar thing. The docs are pretty straightforward. https://godoc.org/github.com/dgrijalva/jwt-go#example-ParseWithClaims--CustomClaimsType

It's a little unclear what `var claims` is in your code. Looking at the source, I'm guessing you can only pass a pointer of the required object to ParseWithClaims, e.g.: `jwt.ParseWithClaims(tk, &models.Token, func(...){...}` and then use

[2019-10-07 11:58] claudioontheweb commented on #359
``var claims`` is just a variable of the pointer I am passing in.
It consists of the following struct (``models.CustomClaims{}``):

``
type CustomClaims struct {
	UserID uint
	Firstname   string
	Lastname string
	Email  string
	*jwt.StandardClaims
}
``

I am pretty sure that the implementation itself is correct.

I assume that this problem has something to do with the packages / imports or somethi

[2019-10-07 12:05] vpmv commented on #359
Perhaps.
I'm on go 1.12 using modules; It grabbed github.com/dgrijalva/jwt-go v3.2.0+incompatible
Hope this helps.

[2019-10-08 06:35] claudioontheweb commented on #359
I was using Go V1.13 and jwt-go  V3.2.0... Problem still persists on 1.12.

[2019-10-08 09:57] alanywlee opened #361 "jwt.Parse got "invalid character 'x' looking for beginning of value""
I am trying to parse a RS256 encoded token (tokenString) from java, it could be successfully decoded by public key in java using the following java code

`Jwts.parser().setSigningKey(publicKey).parseClaimsJws(jwt);`

However, It could be verified by jwt.SigningMethodRS256.Verify() just as described in https://stackoverflow.com/questions/51834234/i-have-a-public-key-and-a-jwt-how-do-i-check-if-its-

[2019-10-12 01:03] adamgering commented on #246
Will this land in v3.2 as well?

[2019-10-12 01:09] adamgering commented on #226
Can we get this in 3.2? When either 3.2 or 4.0?

[2019-10-12 15:49] fredbi commented on #359
This just works with or without modules, go1.12 or go1.13. Any error here is likely to be from the calling program.

[2019-10-19 12:36] markotikvic commented on #65
@dgrijalva If you're still open for suggestions, maybe adding helper functions to wrap the singing key for each signing method could work. It wouldn't break existing code and the API wouldn't change.

[2019-10-21 15:24] happilymarrieddad commented on #65
There was an extra space at the begining of my token as well. I would suggest trying to trim the string.

[2019-10-25 02:04] jtcotton63 commented on #314
FWIW - I had this problem and it turned out to be the internal clock on my EC2 instance. Following [this guide](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/set-time.html) solved the problem.

[2019-10-29 17:07] aboodman opened #363 "Do you have an example of creating keys in the correct format?"
On OSX, I am generating my key file using:

[code]

Then if I test it like this:

[code]

Looking at the code, I believe this is because `jwt-go` is relying on `pem.Decode`, which is [expecting header lines](https://golang.org/src/encoding/pem/pem.go?s=2505:2553#L21). However (a) I haven't had trouble manually adding these lines, and (b) I want something easy to tell my own users about how to gene

[2019-10-29 17:29] agugaillard opened #364 "Make SigningString() concurrent"
According to
[code]
Why not making both marshal concurrent using [errgroup](https://github.com/golang/sync/blob/master/errgroup/errgroup.go)?

[2019-11-01 15:45] #337 closed

[2019-11-01 19:34] KadenLNelson opened #365 "json: cannot unmarshal object into Go value of type jwt.Claims"
Given the example `CustomClaimsType` for https://godoc.org/github.com/dgrijalva/jwt-go#ParseWithClaims, shouldn't the signature of `ParseWithClaims` specify a pointer to `Claims`?

like;
[code]

[2019-11-13 07:55] jwkohnen commented on #364
This calls for a benchmark.  Goroutines are cheap, but they are not for free.

[2019-11-15 02:28] xiliangMa commented on #354
I hove the same issue。
_, err := jwt.Parse(token, func(*jwt.Token) (interface{}, error) {
		return secret, nil
	})
err info： “oken contains an invalid number of segments”

[2019-11-22 10:30] friedrich commented on #348
Is this going to be fixed? Currently, RFC compliant tokens cannot be parsed because of this problem, which is a major issue in my opinion. Is there anything wrong with the proposed pull requests?

[2019-11-22 18:11] kristopher commented on #314
Ran into this as well, any plans to support some amount of clock drift? 0 - 500ms isn't that uncommon with ntp.

[2019-11-24 07:11] ErikYu commented on #272
Hi I'm still facing this issue, when I use base64.URLEncoding.DecodeString(key), I ran into an error `illegal base64 data at input byte 16`, the secret is "my-very-secret-key" for example.

[2019-11-26 00:02] mmailhos commented on #65
You can also get this error if you are trying to sign a token with a claim signing method that differs from the Signature Algorithm of the certificate you are using.
Ex: signing with `jwt.SigningMethodHS256` instead of `jwt.SigninMethodRS256` for a `*rsa.PrivateKey`.

[2019-11-26 08:41] self-heal opened #367 "go get 找不到资源"
go get github.com/dgrijalva/jwt-go
go: downloading github.com/dgrijalva/jwt-go v3.2.0+incompatible
verifying github.com/dgrijalva/jwt-go@v3.2.0+incompatible: github.com/dgrijalva/jwt-go@v3.2.0+incompatible: reading https://goproxy.io/sumdb/sum.golang.org/lookup/github.com/dgrijalva/jwt-go@v3.2.0+incompatible: 410 Gone

[2019-12-13 07:55] Cristiyi opened #368 "token.Valid is false and get claims is nil"
i create token like this:
[code]
and below is print result:
first print:  &{ 0xc0002217e0 map[alg:HS256 typ:JWT] map[exp:1612223473 iat:1576223473 user_id:10]  false}
second print:eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MTIyMjM0NzMsImlhdCI6MTU3NjIyMzQ3MywidXNlcl9pZCI6MTB9.UvglOILuTDv68ZmTZKW_H0CMDf7sZw8PDlNPpa3enkQ

and then i check token like this:
[code]

token.Valid is false ant get cl

[2019-12-14 10:04] prochac commented on #192
no need of x/crypto anymore in Go 1.13
https://blainsmith.com/articles/signing-jwts-with-gos-crypto-ed25519/

[2019-12-21 18:40] FahdJamy opened #369 "key is of invalid type"
It is 2019 December and this issue is still existing.

import (
	"errors"
	"os"
	"time"

	"github.com/dgrijalva/jwt-go"
	"github.com/jinzhu/gorm"
)

`// CreateRefreshAndAccessToken creates a user access token and a jwt token
func (u *User) GenerateTokens(user *models.User) (map[string]string, error) {
	var err error
	apiKey := os.Getenv("API_SECRET")

	// Set claims
	// This is the information whi

[2019-12-21 18:52] FahdJamy commented on #309
@zgsxhcyxd stop closing issues that are still prevailing in this library without a solution, please.

[2019-12-23 04:25] DivadTenni commented on #294
did you just use go get on that?

[2019-12-27 09:16] AGMETEOR commented on #65
This was the issue for me. Thanks.

[2019-12-30 16:40] paulm17 opened #371 "panic: x509: no DEK-Info header in block"
I'm attempting to port over PHP code that generates a JWT token.

[code]

Full Go code:  https://gist.github.com/paulm17/5fe17e751f1d10146441725c6e452a75

First I don't know if I have mapped out the above in line 82.  So any clarification welcome.

That said.  I keep on getting

[code]

Please advise, thanks.

[2020-01-04 06:18] I-loner commented on #369
I have this problem too.

[2020-01-04 06:20] I-loner commented on #309
what was your solution to this problem because I am faced with it right now. +1

[2020-01-04 19:05] FahdJamy commented on #309
@I-loner I personally had to create an ecdsa key. this what I passed in to my SignedString method.

I think the libray has to be specific and instead of specifying that the method takes in an interface and declare that it takes in a key of type ecdsa.

[2020-01-04 19:06] FahdJamy commented on #309
Here is a stack overflow resource that you might wanna check out.
[link](https://stackoverflow.com/questions/51471802/how-to-generate-jwt-token-always-through-invalid-key-type-error)

[2020-01-06 23:29] dgrijalva commented on #226
leeway support has landed in 4.0 branch

[2020-01-06 23:29] #226 closed

[2020-01-07 00:19] dgrijalva commented on #326
This ticket is replaced by by #330

[2020-01-07 00:19] #326 closed

[2020-01-07 01:31] #285 closed

[2020-01-07 20:35] dgrijalva commented on #364
I don't know how much value this adds for the complexity. The tasks here are expensive relative to the rest of the workflow, but likely not enough to justify this. The real cost here isn't any single call, but the aggregated cost of calling this millions of times, as you might in an auth server generating tokens.

I'd be happy to be proven wrong by benchmarks, but I would expect this is more troub

[2020-01-07 20:39] dgrijalva commented on #371
At a glance, I'd wager your panic on line 78 is the culprit. An error is being returned by the helper function trying to decode your key. Your key is probably not in the format expected by that helper.

[2020-01-07 20:58] dgrijalva commented on #369
Version 4 adds more detailed error messages as well as better documentation.

In the meantime, see the documentation for the signing method you're using. In your case: https://godoc.org/github.com/dgrijalva/jwt-go#SigningMethodECDSA

`Expects *ecdsa.PrivateKey for signing and *ecdsa.PublicKey for verification`

[2020-01-07 21:02] dgrijalva commented on #368
I might guess it's because your token is signed with `key` and verified with `"secret"`, but that's just a guess.

The second value returned by `Parse` is an error, describing why the validation failed. You should have a look at it. It's probably got your answer.

[2020-01-07 21:02] #368 closed

[2020-01-07 21:12] paulm17 commented on #371
Thanks for the comment.

I'm afraid I don't exactly understand what you mean by the key not being in the correct format for the helper.

The helper being new Key and the format being []byte?

If you can provide just a bit more info, I can determine the best course of action.  Thanks!

[2020-01-07 21:37] dgrijalva commented on #365
Pointers to interfaces can be tricky to work with. Where possible, I've tried to follow the interface patterns of `encoding/json` where possible, as that library forms the underpinnings of this one.

[2020-01-07 21:37] dgrijalva commented on #364
I'm going to close this ticket. If you want to benchmark your changes and come back with a compelling case, feel free to reopen.

[2020-01-07 21:37] #364 closed

[2020-01-07 21:44] dgrijalva commented on #371
One of the tricky thing about working with crypto libraries is that there are a bunch of competing standards for how to encode a key. `jwt.ParseRSAPrivateKeyFromPEMWithPassword` is a helper function to help users unpack keys encoded in a common format. The error you pasted is being returned by that function.

I have provided a few helper functions, such as this one, but decoding serialized keys is

[2020-01-07 21:47] paulm17 commented on #371
Thanks for the reply.

I did initially think this was the problem.  But it's outside of my expertise to start groking the code.

Thus I'll close this for now.  If I have time in the future to resolve this, then I'll re-open or supply a PR.

Thanks.

[2020-01-07 21:47] #371 closed

[2020-01-07 21:57] dgrijalva commented on #354
This library does not emit events to Sentry. The error being returned means the token is not well formed. Most likely a client is doing the wrong thing, or someone attempting something nefarious. How the error makes it from there to Sentry, I could only guess.

[2020-01-07 21:57] #354 closed

[2020-01-07 21:58] #353 closed

[2020-01-07 21:58] #352 closed

[2020-01-07 22:02] dgrijalva commented on #347
The signature is always verified before we evaluate claims. Until we believe the token is authentic, we don't even look at the claims it makes.

[2020-01-10 14:06] ooxoo11 commented on #65
Still in 2020...

[2020-01-10 22:50] lnashier opened #373 "Duplicate helper functions"
Is there any particular reason to have following logic duplicated?

`func verifyAud(aud string, cmp string, required bool) bool`
https://github.com/dgrijalva/jwt-go/blob/master/claims.go#L93

`func verifyIss(iss string, cmp string, required bool) bool`
https://github.com/dgrijalva/jwt-go/blob/master/claims.go#L118

If it is done just to be consistent and have helper function for each claim, I woul

[2020-01-14 04:04] walfly opened #374 "SigningMethodES256.Verify returning crypto/ecdsa: verification error no matter what"
[code]
The last line always returns ` crypto/ecdsa: verification error`.  I'm confused about why it won't verify a claim I just created with the same key.  Am I understanding this method wrong?

Thanks!

[2020-01-14 21:26] #374 closed

[2020-01-14 21:33] walfly commented on #374
problem is signature is empty

[2020-01-18 16:33] Filet-de-S opened #375 "Please add err.types"
It's inefficient to check it with strcmp instead of switch err.(type)

[2020-01-20 04:32] coilnovasince1985 commented on #348
Until now issue is not resolved.

[2020-01-25 07:49] dwadp opened #377 "Does this package support for blacklisting token?"
Is this package can blacklist a token in case of logging out, instead of using expiry to invalidate a token. In the case of the user has logged out before the token has expired maybe.

[2020-01-28 20:00] anthonycook opened #378 "undeclared name when using multiple files"

[2020-01-28 20:01] #378 closed

[2020-01-29 19:43] mrfoe7 commented on #367
@self-heal you need set env GOPROXY

[2020-01-30 23:53] d1str0 commented on #377
No, you have to keep track of a blacklist yourself. This should be application logic anyways and wouldn't really fit into this package IMO.

[2020-01-31 00:40] d1str0 opened #379 "Documentation gives examples that can lead to nil pointer dereferencing"
So I recently came across a test case that triggered a nil pointer dereference. This issue is not really in the package itself, but I believe the package is a bit misleading and the documented examples do not account for this:

If you use jwt.Parse() with an improperly formatted string, for example "totallynotvalid", Parse() returns an nil token and a populated err. If you then try and check token

[2020-02-01 04:19] dwadp commented on #377
Okay, thanks

[2020-02-01 04:19] #377 closed

[2020-02-05 23:45] mileusna commented on #348
I took a sneak peek into v4.0.0 preview source code (https://github.com/dgrijalva/jwt-go/releases) and it looks like that v4 will fix this, but I don't know when it will be released.

[2020-02-13 18:25] marcio199226 opened #380 "Can't verify my jwt with public.key"
Hi I tried to verify if some jwt coming from outside is valid:
`
func verifyBackendJWT(token string, keyData []byte) (bool, error) {
	key, _ := jwt.ParseRSAPublicKeyFromPEM(keyData)
	fmt.Println("verify", key)

	parts := strings.Split(token, ".")

	method := jwt.GetSigningMethod(jwt.SigningMethodRS256.Alg())
	err := method.Verify(strings.Join(parts[0:2], "."), parts[2], key)
	log.Println(err)
	if

[2020-02-14 15:44] mrfoe7 opened #381 "Why print expired error with delta time?"
Why print expired error with delta time?
[Code](https://github.com/dgrijalva/jwt-go/blob/master/claims.go#L39)

[2020-02-17 13:40] t2wu commented on #363
Any update on this?

[2020-02-17 14:29] t2wu commented on #363
I end up using the following two commands:

[code]

This is according to [this](https://byparker.com/blog/2019/generating-a-golang-compatible-ssh-rsa-key-pair/).

However his third command is not needed here.

Use `jwt.ParseRSAPrivateKeyFromPEMWithPassword()` and `jwt.ParseRSAPublicKeyFromPEM()`

[2020-02-21 06:35] swchoi727 commented on #381
the delta represents how it's been since the token expired

[2020-02-25 11:18] mrfoe7 commented on #381
@swchoi727 I understood it, but with this delta time in error message difficult to handle error into code :(

[2020-02-25 11:18] #381 closed

[2020-02-28 02:46] kamal2311 opened #382 "Cant go get v4"
Trying to get the latest jwt-go

`go get github.com/dgrijalva/jwt-go@a58974ee87a68abcf6cfb2315224e89135cf3311`

 results in the following error.

[code]

[2020-02-29 13:21] sanderdekoning opened #383 ""Token used before issued""
When running Go program on my mac, I am receiving the following error when parsing a JWT:
"Token used before issued".

However, when I am running on a remote server it is working fine. What causes this issue and how can I resolve it?

[2020-03-03 19:36] dgrijalva commented on #382
Please try `go get github.com/dgrijalva/jwt-go/v4@a58974ee87a68abcf6cfb2315224e89135cf3311` and let me know if that works

[2020-03-05 14:40] intolerance commented on #383
This module does not support clock tolerance.

https://github.com/dgrijalva/jwt-go/blob/dc14462fd58732591c7fa58cc8496d6824316a82/claims.go#L29

[2020-03-05 16:10] sanderdekoning commented on #383
Thanks! I had read that too, although I am not sure what it refers to nor how it could potentially be resolved or as stated `accounted for`. Do you have a suggestion?

[2020-03-05 17:14] intolerance commented on #383
Basically, clock skew refers to the difference between two system clocks that are not in sync. For example, server A's clock may be 1 minute behind server B's clock.

As an example, A JWT issuing service may set the `iat` or `nbf` claims using its systems clock. When a service tries to validate the JWT it compares the `iat` or `nbf` claim to its own system time. When this check fails you get an er

[2020-03-06 11:03] sanderdekoning commented on #383
All right, I understand now, thank you for clarifying, I appreciate your time and effort

[2020-03-07 07:47] dmjones opened #386 "Documentation needs to be clearer about token validity and what nil errors mean during parsing"
I'm trying to use this project and I'm finding myself confused on the basics. I think the documentation needs to be enhanced to ensure people are confident they are not making security mistakes:

<hr>

`Parser. Parse()` says:

It's hard to know what "kosher" means. For instance:
- Was the signature verified?
- Were any claims verified?

<hr>

The `Parser. ParseWithClaims()` function has no documen

[2020-03-08 01:54] cybfly commented on #383
func (c StandardClaims) Valid() error {
	vErr := new(ValidationError)
	//now := TimeFunc().Unix()
	now := time.Now().Unix()
        ....
}

I meet the same problem in one machine.
After signing the string i parsed the token, but it still report this error.
I replace the now in claims.go to fix it.

[2020-03-08 02:02] cybfly commented on #383
//now := TimeFunc().Unix()
	now := time.Now().Unix()
-------------------------------------
Meet the same problem in one machine (sign and parse), after replaced the now in claims.go error fixed.

[2020-03-11 20:02] ORESoftware opened #387 "jwt key invalid - migrating to new version"
This used to work with an older version of jwt-go:

[code]

where our config.JwtRSAKey looked like:

[code]
but now we get this error:

here is the code in the library that gets the signed string:

[code]

is there something wrong about using an RSA key to encrypt?

[2020-03-11 20:21] ORESoftware opened #388 "looking for example of"
I see this in the docs:

[code]

I see no reference to `hmacSampleSecret` I have no idea how to generate that? can it be documented? ty

[2020-03-17 13:14] zbindenren commented on #382
That works but does not solve #355

[2020-03-17 14:54] zbindenren commented on #348
I can confirm v4.0.0 preview solves this issue.

[2020-03-18 02:31] whoiswentz commented on #65
I getting this error

`var jwtKey = []byte("my_secret_key")
	token := jwt.NewWithClaims(jwt.SigningMethodES256, jwt.MapClaims{
		"email": user.Email,
		"iss":   "course",
	})

	signetToken, err := token.SignedString(jwtKey)
	if err != nil {
		return "", err
	}`

[2020-03-19 18:44] gadelkareem commented on #386
I am also having a problem with:
[code]
Error: `json: cannot unmarshal object into Go value of type jwt.`

[2020-03-23 12:46] yyh-gl opened #392 "Proposal of fixing error string"
I think that error string should not be capitalized or end with punctuation.
This idea is based on golint [(ref)](https://github.com/golang/lint/blob/738671d3881b9731cc63024d5d88cf28db875626/lint.go#L1177)

Therefore, I propose the fix below.
https://github.com/dgrijalva/jwt-go/pull/391

Of course, I understand that this change is difficult to merge because it is not backward compatible.

However,

[2020-03-25 11:22] Gilwe commented on #157
@dgrijalva can you please update the docs about using PascalCase when creating new properies for CustomClaims in https://godoc.org/github.com/dgrijalva/jwt-go#NewWithClaims ?

If you use camelCase it just won't be parsed

[2020-03-25 11:38] zemiret commented on #387
I've learned about it the hard way, coming across the problem myself.
If you dig down into the code, it turns out you need to pass the parsed `*rsa.PrivateKey` structure.
Here is the relevant function I'm using to turn the encoded token into the desired structure.

[code]

You might need to use different `Parse...` function (probably PKCS1 if that's the case).
Here: [https://golang.org/pkg/crypto/

[2020-03-29 13:46] slawo opened #394 "claim aud is not compliant with RFC7519"
It is stated that `aud` is an array of strings, ref: https://tools.ietf.org/html/rfc7519#section-4.1.3

Please note It is impossible to assign an array of strings: https://github.com/dgrijalva/jwt-go/blob/dc14462fd58732591c7fa58cc8496d6824316a82/claims.go#L19

[2020-03-29 13:48] slawo commented on #394
Ignore: duplicate of: https://github.com/dgrijalva/jwt-go/issues/348

[2020-03-30 03:00] huikang opened #395 "How to very a RS256 token with public certificate"
Hi, I am new to jwt and have a question about verifying a RS256 token with the public certification file.

The code I am using is like the following

[code]

In the above code, I return the content of the public file at the end. The content of the public file is look like

[code]

However, the function always returns error, even I test with a valid token. Could anyone help to look at this problem?

[2020-03-30 03:10] #395 closed

[2020-04-07 23:11] mrbanzai opened #396 "Question about v4 custom claims and `ValidationHelper`"
Obviously v4 is not yet released, but I'm trying to get a jump on it and incorporate the breaking changes into our application.  As part of doing so, I'm running into some confusion regarding the change to the `Claims` interface and my custom claims type.

It now seems that the `Valid` method must accept a `*ValidationHelper`, which encapsulates the verification of the standard claims, assuming th

[2020-04-07 23:37] krishnareddyrk opened #397 "JWT generated using signed string throws invalid signature error in jwt.io"
Generated a Jwt using the signedString method as below. JWT is generated when I try to parse JWT using same secret in jwt.io  throws invalid signature. Does go use secret base64 encoding?

	token := jwt.NewWithClaims(jwt.SigningMethodHS256, claims)
	ss, _ := token.SignedString([]byte("mysecret"))
	fmt.Printf("%v", ss)

[2020-04-08 02:34] mrbanzai commented on #397
No issues here with your code and a basic `jwt.MapClaims`:
[code]
And the output:
[code]

[2020-04-08 04:01] krishnareddyrk commented on #397
Thanks @mrbanzai for your quick response. I am trying to generate JWT which is compatible with "secret base64 encoded".
I mean I want to enter "mysecret" as the secret and click on "secret base64 encoded" and expecting jwt.io to verify the token generated using go.

[2020-04-08 04:25] mrbanzai commented on #397
That checkbox is to specify that the secret you've entered is base64-encoded, which "mysecret" is not; you'd have to enter "bXlzZWNyZXQ=", the base64-encoded version of "mysecret".

[2020-04-08 05:19] krishnareddyrk commented on #397
Thanks a lot @mrbanzai It works now.

[2020-04-08 05:19] #397 closed

[2020-04-08 17:00] kheraud commented on #345
@rentateamdev1 , use a pointer to your custom claim instead of a value one. An interface is a tuple (concrete type, value). If you use a pointer type (`*MyCustomClaim`) as the concrete type of your interface, encoding/json figures out the json tags of your struct.
[code]
Or for your example with error : `claims = &StandardClaims{}`

[2020-04-09 11:17] newsoft opened #398 "Compliance with RFC 7797 and 8725"
`README.md` mentions compliance with RFC 7519. This one has newer revisions: RFC 7797 and RFC 8725. Do you confirm `jwt-go` compliance with those? Thank you.

[2020-04-10 21:39] epelc opened #400 "Issued at being used as not before in standard claims"
Currently issued at is being used as an equivalent of the not before field. This is against the RFC and any reading of the docs.

https://tools.ietf.org/html/rfc7519#section-4.1.6

   issued.  This claim can be used to determine the age of the JWT.  Its
   value MUST be a number containing a NumericDate value.  Use of this
   claim is OPTIONAL.

I found this (comment)[https://github.com/dgrijalva/

[2020-04-10 21:40] epelc commented on #400
Here is the relevant check which I think would just be removed.

https://github.com/dgrijalva/jwt-go/blob/master/claims.go#L44

Issued at isn't supposed to be validated beyond being a valid date if set.

[2020-04-12 17:10] neverovski commented on #380
@marcio199226 Hi.
Use to:
[code]

Where public.key:
[code]

[2020-04-23 03:34] ORESoftware commented on #65
One of the worst errors I have ever seen

[2020-04-25 06:13] timestee commented on #369
No,No,No,Still getting this error in 2020~

[2020-04-28 08:49] jesusvazquez commented on #350
:wave: I had this same issue and managed to workaround it doing
[code]

Still don't know what caused the issue

[2020-04-30 23:51] chakch commented on #348
Any stable release to fix this issue ?

[2020-05-02 21:58] sarimabbas opened #401 "interface conversion: interface {} is *jwt.Token, not *jwt.Token (types from different packages)"
Thank you for your work on this library. I am currently following this tutorial and running into a strange error: https://echo.labstack.com/cookbook/jwt

The error text is:

[code]

I'm using the v4 preview. I'm able to generate the token fine, but reading it as jwt.Token is giving me the error in the title. The code is:

[code]

The middleware was set as follows:

[code]

Would you have any advic

[2020-05-18 20:28] #300 closed

[2020-05-19 11:45] Techassi opened #403 "Claim conversion: interface{} gets converted to map"
Hi,

first off: great library!

I am setting a claim like this:
[code]

I now parse the token and retrieve the claims
[code]

Output:
[code]

The saved interface (`user`) did get converted to a map. Is there any possiblity to keep the value of the the claim an interface{}?

[2020-05-25 08:19] glepnir commented on #256
@dgrijalva  in the latest version of `jwt-go` .got same issue.

[2020-05-25 08:43] glepnir opened #404 "key is invalid when use rsa."
# Problem Describe
@dgrijalva  Thanks for your work . In the latest the version of `jwt-go` , The method `SignedString` receive a `signKey` that parse from `jwt.ParseRSAPublicKeyFromPEM`.  It will got an error `key is invaild`

# Env
- os : macos 10.15.4
- go: `go env output`
[code]
- jwt-go:
[code]
# Steps to reproduce
1. use these code
[code]
## Screenshot
![image](https://user-images.githubuser

[2020-05-25 14:34] glepnir commented on #404
Ok my fault.

[2020-05-25 14:34] #404 closed

[2020-06-04 12:04] LogicalOverflow opened #406 "Parsing ECDSA keys with an unsupported curve returns undescriptive error"
When parsing an ECDSA public key with a unknown named curve, the error returned by `ParseECPublicKeyFromPEM` is `ans1: structure error: tags don't match (...)`. This is not helpful as it suggest an error in the encoding of the key, which is not the case.

This happens here:
[code]
The error returned by `x509.ParsePKIXPublicKey(block.Bytes)`, which describes the actual problem (`x509: unsupported e

[2020-06-07 17:15] thakursaurabh1998 commented on #143
I had a function which returned mapClaims like below:
[code]

[2020-06-08 18:07] dcormier commented on #403
A JWT simply stores JSON-formatted values. That `var user interface{}` ends up getting marshaled to JSON. When marshaling back from JSON to a `jwt.Claims` type (`jwt.MapClaims`, in this case), the unmarshaler doesn't know anything about the original golang type, only the type it's unmarshaling into. In this case, a `map`.

If you want different behavior, use a different `jwt.Claims` type instead o

[2020-06-08 19:47] dcormier commented on #401
Since you're referencing the `*jwt.Token` instance exposed by `echo`, you would need to use the same version of the package that they are. At least for that type assertion. You can still use the v4 preview in other places, most likely. I'd try something like this:

[code]

Then, on that type assertion line (and likely the one that's after it), you'd refer to `jwtv3` rather than just `jwt`. Like so

[2020-06-09 12:40] Techassi commented on #403
Okay thank you.

I did eventually get behind that fact, after writing this issue (duh). I will look into your suggestion and give you feedback.

[2020-06-09 17:53] dcormier opened #407 "v4 preview: *jwt.Time does not always unmarshal back to its initial value."
This test fails when using `v4.0.0-preview1`:

[code]

If you run it ([playground](https://play.golang.org/p/27h9Ky72lEx)), you'll get this failure:

[code]

I ran into this while doing a test where I needed a JWT and found that my parsed JWT didn't match my initial JWT. Tracked it back to this.

[2020-06-11 13:48] shobhitsrivastava opened #408 "RS256 message too long for RSA public key size"
I'm using a 256-bit private PEM to build a JWT with signing method RSA 256, similar to the example code:

[code]

When I try to sign the token, I'm getting the error `crypto/rsa: message too long for RSA public key size`. Does anyone know what could be causing this?

[2020-06-12 05:10] lookuptable opened #409 "Is there a timeline on when V4 will be officially released?"
Thanks

[2020-06-17 11:02] trygvis opened #410 "Add API to list all available signing methods"
I'm building a CLI to create tokens, and it would be nice if there was a way to find all registered signing methods.

Something like

[code]

[2020-06-19 07:06] inmanturbo opened #411 "panic: asn1: structure error: tags don't match"
I keep getting this error. Looks like a bug, but maybe I'm just doing something wrong:
[code]

## I Generated the keys like so
[code]
## And have the following jwt package
[code]

[2020-06-19 10:40] sravyap135 commented on #258
Not sure if this is relevant, first time I generate - my validator throws this signature invalid error while on subsequent new tokens - generation and validation just works fine
I am running this inside a container - so every-time I restart my container I see this issue

[2020-06-20 18:25] Techassi commented on #403
So I eventually settled with coverting my `interface{}` to an map aswell. Just made things easier.

For context: I am writing a simple and plugable authenticator and my `interface{}` was the user struct users are able to pass to my authenticator. So I wanted the most freedom and chose an interface.

Im closing this. Thank you for your help @dcormier

[2020-06-20 18:25] #403 closed

[2020-06-26 18:38] AgentZombie commented on #411
Similar error:

[code]

[code]

[code]

[2020-06-26 18:44] AgentZombie commented on #411
This may be #406

[2020-06-26 18:55] inmanturbo commented on #411
I see could be unsupported curve. Guess I'll have to check the spec.

[2020-06-29 20:02] pawelkowalak commented on #314
Another workaround:

[code]

[2020-06-30 09:10] zhangguanzhang commented on #345
I used this is  ok
[code]

[2020-07-07 05:07] baskara8 opened #413 "Error when append data claim from database"
Hi @dgrijalva,

Your Plugin is Awesome, but i have a little bit error when i create multi data, i can't append data after looping from database

[code]

[2020-07-08 06:26] ygj6 commented on #413
generatetoken := jwt.NewWithClaims(jwt.SigningMethodHS256, res)
res should be a Claims, but it's not.

[2020-07-08 08:42] ygj6 commented on #413
[code]
`res` should be a Claims, but it's not actually.

[2020-07-09 00:56] baskara8 commented on #413
So how to create Claims from col.Scan?

[2020-07-09 02:20] ygj6 commented on #413
e.g.
type DataList struct {
     ID             string `json:"users_id"`
     Name    	   string `json:"users_name"`
     Feedback       string `json:"feedback"`
}

type ArrayClaims []DataList

func (m ArrayClaims  ) Valid() error {
   //here your valid code   [See.](https://github.com/dgrijalva/jwt-go/blob/master/claims.go#L28-L60)
  return nil
}

var res ArrayClaims
aa := DataList {}
bb := DataL

[2020-07-09 02:57] baskara8 commented on #413
There is Error : cannot use res (type ArrayClaims) as type jwt.Claims in argument to jwt.NewWithClaims:
        ArrayClaims does not implement jwt.Claims (missing Valid method)

[2020-07-09 06:35] ygj6 commented on #413
type DataList struct {
ID string json:"users_id"
Name string json:"users_name"
Feedback string json:"feedback"
}

type ArrayClaims []DataList

func (m ArrayClaims ) Valid() error {
//here your valid code [See.](https://github.com/dgrijalva/jwt-go/blob/master/claims.go#L28-L60)
return nil
}

----------------------The preceding code is outside func----------------------------------------------------

[2020-07-13 08:37] ygj6 commented on #407
This problem is caused by the deserialization calculation precision.

[2020-07-14 02:33] ygj6 commented on #410
Doesn't this interface make sense?

[2020-07-15 02:46] ygj6 commented on #388
hmacSampleSecret is the secret you need to set.
example:
hmacSampleSecret := []byte("the secret key for you")
or
var  hmacSampleSecret []byte
if keyData, e := ioutil.ReadFile("test/hmacTestKeyFile"); e == nil {
  hmacSampleSecret = keyData
}

[2020-07-15 03:41] ygj6 commented on #349
Indeed, it will confuse beginners

[2020-07-17 06:54] Ghvstcode opened #414 "Illegal base 64 data at input byte 41"
*Description"
Good day Guy's! I am working with a JWT lib github.com/dgrijalva/jwt-go and trying to create a signed  token, but whenever I try to parse it with claims(the signed key is accurate) I  get the illegal base64 data at inputs byte 41 error! Which is strange as the string I'm passing in is base64 and I'm trying to convert it to a slice of byte!
*Steps taken to eliminate the error*
I have

[2020-07-17 14:09] abhijitgujar86 opened #415 "Add update for v4"
Its good to see that v4 is available on golang  packages

https://pkg.go.dev/github.com/dgrijalva/jwt-go/v4?tab=doc

but it seems there no other details. also the git link for the same is 404

[2020-07-17 18:15] Ghvstcode commented on #414
Fixed!

[2020-07-17 18:15] #414 closed

[2020-07-21 00:34] matbhz commented on #368
@Cristiyi did you solve this problem? If so, how? Thanks!

[2020-07-22 05:08] mitar opened #416 "Allow to return multiple keys and not just one from the key function"
RFC in [appendix D](https://tools.ietf.org/html/rfc7515#appendix-D) explicitly mentions collecting a set of possible keys and then trying them out. This is currently not possible with this library as it requires only one key to be returned from the key function.

Now, to make this work I would have to validate signature myself in the key function to find out one key to return, and this library wou

[2020-07-25 07:59] NikhilPrince opened #417 "Invalid Validation"
We are using JWT based authentication in our application

To be more clear about the issue

**last character of token can be manipulated and library is accepting as valid token.

Pattern observed for manipulation is next consecutive 3 letters

Same is observed for numbers and alphabets**

If last character is “A” -->  then “B” , “C” and “D” are also accepted as valid.

sample program used

Token G

[2020-07-27 04:20] fabstao opened #419 "jwt-go generating invalid signature tokens"
Hi!

I am trying to use jwt-go for authentication, but when I try to validate the token, I get: `Error:  signature is invalid`

Sample token:
[code]
It's invalid even checking in jwt.io

Code generating token:

[code]

Is there anything special I should use for HMAC secret in token.SingnedString ?

Thanks!!

[2020-07-29 11:07] benpaxton-hf commented on #417
This is just how base64 works; the signature is 32 bytes long but base64 encodes 3-byte blocks. The 4 characters you observe working in the final block would only cause the decoded data to differ in the 33rd byte, which is after the end of the data and thus doesn't affect the signature. The final encoded block has two bytes 0x44 0x39, which encode to three characters (`RDk`):

[code]

If we add an

[2020-07-29 17:00] IceflowRE commented on #419
You should retry your debugging.
For me the sample token is valid and signature verified.

[2020-07-29 17:19] fabstao commented on #419
Ok, will check
Thanks!

[2020-07-30 00:20] christopher-wong opened #422 "Security Vulnerability: failed type assertion leads to bypassing Audience verification"
if `m["aud"]` happens to be `[]string{}`, as allowed by the spec, the type assertion fails and the value of `aud` is `""`. This can cause audience verification to succeed even if the audiences being passed are incorrect if `required` is set to `false`.

https://github.com/dgrijalva/jwt-go/blob/master/map_claims.go#L16
[code]

https://play.golang.org/p/Pnvvqfehl9K

[2020-07-31 07:51] sravyap135 commented on #417
Isnt this a major security risk ? I see other JWT-CPP libraries are avoiding this. Can a fix be expected ?

[2020-08-06 16:16] ivucica commented on #348
@dgrijalva Could you eventually put the contents of `v4.0.0-preview` into a subfolder named `v4`, so that neither the adoption of Go modules nor use of vendoring are required?

[2020-08-19 18:44] syacko opened #423 "invalid number of segments error has a nil err.inner"
<img width="461" alt="Screen Shot 2020-08-19 at 11 36 59 AM" src="https://user-images.githubusercontent.com/17324510/90676101-4e588680-e210-11ea-9258-95a0b5cc1fd3.png">

When a fake token (token = "FAKE") is passed to jwt.Parser, the err object is set to nil while the Errors = 1 and the test = token contains an invalid number of segments.

This results in an invalid state for err.Errors() and pani

[2020-08-20 08:27] RO-29 opened #424 "Release latest stable tag for release_4_0_0"
Hi, My project uses release tag for all the dependencies, is there any plan to release the stable version of release_4_0_0 branch which has the go modules support

Last stable tag release is of 2018 that too without go mod support

Thanks for looking into it

[2020-08-24 20:32] Nerzal commented on #424
I'm allready using v4.0.0-preview1 for some weeks now.
Feels stable, i did not encounter a single error. It's working in production code.
Would be happy to have a "stable" release for v4

https://github.com/Nerzal/gocloak/pull/196

[2020-08-28 08:55] Ayanrocks commented on #415
Yes, this should b fixed. If you're releasing v4 beta at least add docs to it. It's been 8 months since it's release and I'm having trouble implementing it

[2020-08-28 15:05] DanielAtwood commented on #424
I use [Echo](https://github.com/labstack/echo) and I would like to use v4 but I think we'd need a stable release before it's updated.

[2020-09-15 02:44] donkw opened #427 "Why `jwt.ParseWithClaims` treat an uint number as float64?"
claims := jwt.MapClaims{}
token, err := jwt.ParseWithClaims(tokenString, claims, func(token *jwt.Token) (interface{}, error) {
    return j.AccessTokenSigningKey, nil
}
fmt.Printf("uint number: %+v\n", claims["uintnum"])  // out: 9.6863578e+07

uintNum := claims["uintnum"].(uint)  // panic
fmt.Printf("uint number: %+v\n", uintNum )

This will panic: `interface conversion: interface {} is float64,

[2020-09-15 11:41] camin-mccluskey opened #428 "High Severity Security Vulnerability - Access Restriction Bypass"
Snyk is logging a high severity security vulnerability with this repo [here](https://snyk.io/vuln/golang:github.com%2Fdgrijalva%2Fjwt-go). I believe this is called out in Issue [#442](https://github.com/dgrijalva/jwt-go/issues/422) and a fix was implemented in #426 but the PR was closed. Would it be possible to address this? A high severity vulnerability, in a library of this nature, means it is c

[2020-09-15 12:04] Waterdrips commented on #428
this is already covered on this issue https://github.com/dgrijalva/jwt-go/issues/422

and there's an open pr from March 3rd here: https://github.com/dgrijalva/jwt-go/pull/385 that would fix this.

I closed my PR because I forgot I had used the same branch when adding fixes for our company OSS fork where we will be patching and releasing https://github.com/form3tech-oss/jwt-go/pull/2 and by branch

[2020-09-15 12:48] Waterdrips commented on #428
we have published our fix here: https://github.com/form3tech-oss/jwt-go/releases/tag/v3.2.1 FYI

[2020-09-15 14:49] alexellis commented on #422
FYI the snippet has expired on the playground.

[2020-09-16 08:25] #427 closed

[2020-09-16 08:28] donkw commented on #427
https://github.com/dgrijalva/jwt-go/blob/master/example_test.go#L56
This will help.

[2020-09-17 12:28] ajoyac commented on #408
Not sure if still open, but it seams its related to https://github.com/dgrijalva/jwt-go/issues/213  the rsa pem size it dosent have to be related to the signing method some how...

[2020-09-22 19:29] fesquivelv opened #430 "cannot use func literal golang as a type jwt.Keyfunc"
I am trying to parse a token with jwt.ParseWithClaim, but I get this message "cannot use func literal (type func(*jwt.Token) (interface {}, error)) as type jwt.Keyfunc"

I have
github.com/dgrijalva/jwt-go v3.2.0+incompatible
and go 1.15

[2020-09-23 23:39] Napas commented on #363
IMHO that should be in the documentation

[2020-09-24 22:35] genghisjahn opened #431 "Cannot Verify With Public RSA key"
I followed the steps here this file: https://github.com/dgrijalva/jwt-go/blob/master/http_example_test.go

I generated the keys using the following:

`openssl genrsa -out key256.rsa 4096`
`openssl rsa -in key256.rsa -pubout > key256.rsa.pub`

When I try to parse the key like this:

[code]

I get the error:

`Key must be a PEM encoded PKCS1 or PKCS8 key`

I am able to check verify the token using t

[2020-09-25 01:01] genghisjahn commented on #431
I can verify locally, but not when running from a aws lambda function where I pull the public key from an environment variable.  I think it's stripping out the line breaks, which causes the parsing of the public key to fail, nothing to do with jwt-go.

[2020-09-25 01:01] #431 closed

[2020-09-27 09:55] #411 closed

[2020-09-29 03:42] mcoops commented on #428
Has anyone requested a CVE for this issue?  If not I'm happy to.

[2020-09-29 09:03] Waterdrips commented on #428
This is what iv been working from https://snyk.io/vuln/SNYK-GOLANG-GITHUBCOMDGRIJALVAJWTGO-596515

[2020-09-29 09:11] ripienaar commented on #428
maybe time to create a dedicated org for this project and for it there? So the only place with the fix isnt related to some company but rather a independent group those interested in this project can look after it?

[2020-09-29 20:02] lggomez commented on #428
+1 to this. I'm currently implementing some security packages and while I'm heavily reviewing all the available options this repo has a lot of traction and and API I really like, albeit in an abandoned state (i.e: no go modules definition yet). If the maintenance goes back on track I can see myself using this and contributing back to

Also as a side note, this repo is the first golang option on `j

[2020-09-30 22:31] mcoops commented on #428
CVE-2020-26160 has been assigned to this issue.

[2020-10-01 09:42] ripienaar commented on #428
So there seems to be a lot interest in creating a sperate organisation for this repo.  I don't know how we'd go about doing this or how such a thing would be structured, does anyone have thoughts about steps to doing this?

[2020-10-01 16:35] adamchalmers commented on #428
@ripienaar The maintainer hasn't replied to this bug since it was first filed in July. I've switched over to the form3 fork, but I've been unable to persuade my project's dependencies to switch. Some projects want to switch to https://github.com/square/go-jose instead

[2020-10-01 16:37] ripienaar commented on #428
I know he hasnt responded, but we wouldnt want to do essentially a hostile takeover without reaching out, so in the absense of that, I think we need to discuss how to make a org and who would be willing to work on it.

[2020-10-01 16:43] adamchalmers commented on #428
I understand, but I've reached out to him on email and twitter a few weeks ago.

[2020-10-01 16:55] adamchalmers commented on #428
I'll ask my work if we could maintain a fork. I notice that both Google and Microsoft are on the [list of who imports this](https://pkg.go.dev/github.com/dgrijalva/jwt-go?tab=importedby), I wonder if they'd be interested in maintaining this.

[2020-10-02 17:44] davetweetlive commented on #65
Change this tokenString, err := token.SignedString("netdata.io") like to tokenString, err := token.SignedString([]byte("netdata.io"))

[2020-10-12 13:40] Spazzy757 opened #433 "ParseRSAPublicKeyFromPEM asn1: structure error: tags don't match"
## Problem

I am generating a key pair in code, the idea here is to sign with the private and verify with the public.

The signing part is working as expected but I am getting the following error when trying to parse the Public Key:

[code]

The code (shortened to the relevant parts) is as follows:
[code]

## Alternatives
I have tried using a couple of the functions to parse the public cert from b

[2020-10-12 14:13] Spazzy757 commented on #433
Changed to use:
[code]

[2020-10-12 14:13] #433 closed

[2020-10-12 17:49] alexellis commented on #428
https://github.com/dgrijalva/jwt-go/issues/428#issuecomment-702257379

You're well within your rights (under the terms of the license) to fork the code into a project with a new name (as not to infringe on the trademark) and to maintain/merge fixes there.

It will become a new project, and perhaps if @dgrijalva picks up the project again, he may consider merging the improvements back in.

There's

[2020-10-12 18:59] alexellis commented on #428
Andy Randall from Kinvolk suggested contacting Dave via LinkedIn. He also has an email address on his profile.

Has anyone done this yet? If not, would one person be open to contacting him for response?

[2020-10-12 19:34] lggomez commented on #428
@alexellis as you mention, there is already a fork in place by form3, which can be used as a temporary workaround. The Issue is, this 'module' (in the broad sense, because there isn't even a go.mod file yet in here) is the main one and fragmentation can be a PITA from a process viewpoint with security packages, because this one may be already audited and being used at companies following PCI DSS s

[2020-10-14 00:18] magicalbanana commented on #37
@dgrijalva late the part but I'm curious, is there a way to parse the token and then validate it once you retrieve the key because retrieving the key means parsing the token to get the "user_id" inside the token?

[2020-10-14 00:59] dgrijalva commented on #37
This is why the api accepts a callback function instead of just a key, so you can look it up. Just be sure you double check your signing method.

You can also use ParseUnverified and then Call the validation stuff yourself but I do not recommend this method.

-dave

[2020-10-14 08:43] MunDeuksoo opened #434 "token is expired by 445101h17m58s"
Hi
I looked up the document at the address below to use JWT.
https://godoc.org/github.com/dgrijalva/jwt-go#example-NewWithClaims--CustomClaimsType
I used ParseWithClaims and an error message like the title above occurred. No matter how much time you change, the same problem occurs. I'd like you to tell me the cause.

	mySigningKey := []byte("AllYourBase")

		type MyCustomClaims struct {
			Foo str

[2020-10-14 20:35] Codebreaker101 commented on #434
You need to use unix time if you want the lib to validate the token.

[code]

[2020-10-15 02:20] MunDeuksoo commented on #434
Thank you. I mistake to convert time expression unix.
Example is Complete.

[2020-10-15 02:20] #434 closed

[2020-10-15 11:41] jameshalsall commented on #414
what was your fix?

[2020-10-20 07:00] melkikh commented on #422
The original one: https://play.golang.org/p/Pnvvqfehl9K
(K was missed in URL)

[2020-10-20 14:25] fvisconti opened #435 "invalid signature error"
Hi there,

I'm using your software with go1.13.7.

I'm trying to generate a token with `SigningMethodHS256` and pass it through the header to the client.
Then I verify the signature and token validity in a successive call to an endpoint, but I get `signature is invalid` error text, **even if the error is not of the type** `jwt.ErrSignatureInvalid`.

Here's the code, maybe there's some macroscopic

[2020-10-22 09:03] #435 closed

[2020-10-22 09:03] fvisconti commented on #435
It just works, I was passing the wrong token. Shame on me :(

[2020-10-23 20:03] mieubrisse commented on #345
I'm not the OP, but @kheraud 's solution fixed this for me. The [example for a custom claims type](https://godoc.org/github.com/dgrijalva/jwt-go#example-ParseWithClaims--CustomClaimsType) has this same logic, so maybe just a quick explanatory comment on the example could close this issue?

[2020-10-24 12:29] mieubrisse opened #438 "Add an example for parsing RS256 tokens"
The major point of confusion comes from what the key func should be returning, since the examples only have HS256 tokens that return a string (but which errors for the RSA alg). I had to do a decent amount of code-diving to discover that the expected type is actually `rsa.PublicKey`.

[2020-10-30 14:53] timdrysdale commented on #414
When I hit this, I fixed it by trimming the whitespace off the end of the token (I was picking up a linefeed character in my websocket payload)

[2020-10-31 04:58] ksegun commented on #424
It looks like v4 is using go-module so you should be using, you will need to deal with the changes

`go get github.com/dgrijalva/jwt-go/v4`

[2020-10-31 05:00] ksegun commented on #422
It looks like this is addressed in v4, which uses go modules, proposed changes seem identical

`go get github.com/dgrijalva/jwt-go/v4`

[2020-11-01 10:49] Ghvstcode commented on #414
Hey! Really sorry for the late reply.
- i was signing the JWT with claims that had weird characters(;)! So i removed the characters

[2020-11-02 10:00] vidolch commented on #438
@mieubrisse can you add the working code here since I am wondering how to get it working as well...

[2020-11-02 10:15] mieubrisse commented on #438
Sure:
[code]
The non-obvious parts:
1. The "kid" is a reference ID, which will be used to tell you which public key you should return from the function. In my case, [Auth0 provides a set of public keys](https://auth0.com/docs/tokens/json-web-tokens/json-web-key-sets) and the "kid" will point to one of those
2. The token extractor function needs to validate that the signing algorithm is what we exp

[2020-11-09 11:53] larytet commented on #256
The following code prints an empty string

`
func Test_jwtSignRS(t *testing.T) {
	// https://golang.org/pkg/crypto/rsa/#GenerateKey
	privateKey, err := rsa.GenerateKey(rand.Reader, 256)
	if err != nil {
		t.Fatalf("Failed to generate a private key %v", err)
	}

	// publicKey := &privateKey.PublicKey
	now := time.Now()

	type TestClaims struct {
		HAPP string  `json:"happ"`
		jwtgo.StandardClaims

[2020-11-09 12:17] larytet commented on #327
The following code prints an empty string. What do I miss?

		package main

		import (
			"testing"
			"time"

			"crypto/rand"
			"crypto/rsa"
			jwtgo "github.com/dgrijalva/jwt-go"
		)

		func Test_jwtSignRS(t *testing.T) {
			// https://golang.org/pkg/crypto/rsa/#GenerateKey
			privateKey, err := rsa.GenerateKey(rand.Reader, 256)
			if err != nil {
				t.Fatalf("Failed to generate a private key

[2020-11-09 12:21] larytet commented on #256
The following code gives "message too long for RSA public key size". What do I miss?

		package main

		import (
			"testing"
			"time"

			"crypto/rand"
			"crypto/rsa"
			jwtgo "github.com/dgrijalva/jwt-go"
		)

		func Test_jwtSignRS(t *testing.T) {
			// https://golang.org/pkg/crypto/rsa/#GenerateKey
			privateKey, err := rsa.GenerateKey(rand.Reader, 256)
			if err != nil {
				t.Fatalf("Failed

[2020-11-09 12:33] larytet commented on #256
Just in case you need an example, this code works:

		package main

		import (
			"testing"
			"time"

			"crypto/rand"
			"crypto/rsa"
			jwtgo "github.com/dgrijalva/jwt-go"
		)

		func Test_jwtSignRS(t *testing.T) {
			privateKey, err := rsa.GenerateKey(rand.Reader, 1024)
			if err != nil {
				t.Fatalf("Failed to generate a pair of keys %v", err)
			}

			now := time.Now()

			type TestClaims s

[2020-11-10 14:30] marmiha commented on #272
This worked for me too. Had to do it both on the encoding and decoding side.

[2020-11-12 13:36] zhanghuizong commented on #383
The issuing time cannot be greater than the current system time

[2020-11-16 20:03] dariov1988 commented on #401
I got the same problem, but for me, the solution does not was the suggested by @dcormier, I double-check that I'm importing **github.com/dgrijalva/jwt-go** in all parts of my source code but for some reason, after I run `go mod tidy` in the **go.sum** file I see that it is trying to use **github.com/dgrijalva/jwt-go** and **github.com/form3tech-oss/jwt-go** in my solution I just finishing using **

[2020-11-22 00:26] gardc opened #441 "Example code is memory insecure"
Refering to [this example](https://godoc.org/github.com/dgrijalva/jwt-go#example-Parse--Hmac) pointed to by the readme, feeding it an invalid JWT token will create a memory panic.

[Go playground example](https://play.golang.org/p/wyOgm21FYE8).

Checking for err and token.Valid before assuming it's all good in the hood fixes the issue, [Go playground example](https://play.golang.org/p/0sX-54gXfE2)

[2020-11-26 23:22] johnbalvin commented on #441
just check the error https://play.golang.org/p/LG0AFYMhGQm

[2020-11-27 15:23] josegoval opened #442 "Can explain me why uses pointers to type assertion otherwhise error?"
Hello there. I haave this code:

[code]

but i dont understand why do I have to use *jwt.ValidationError and *CustomTokenClaims instead of normal value, as well as why "ParseWithClaims" recieves a reference of "CustomTokenClaims".

Thank you.

[2020-11-30 21:41] brianmay commented on #428
See fix in #286.

[2020-11-30 22:27] brianmay commented on #422
I believe #286 will fix this for older versions.

[2020-12-04 21:53] digitalhurricane-io opened #443 "Example of how to create RSA keys for use with jwt.ParseRSAPrivateKeyFromPEM"
I think it would be nice if an example of how to generate keys was added in the docs. I don't see any other people having issues so maybe I'm the only one that needs the documentation :)

But I keep getting errors like:
asn1: structure error: tags don't match (2 vs {class:0 tag:16 length:13 isCompound:true}) {optional:false explicit:false application:false private:false defaultValue:<nil> tag:<nil

[2020-12-04 22:55] digitalhurricane-io commented on #443
I was trying to use jwt.ParseRSAPrivateKeyFromPEM on the public key instead of the private key. Can't believe I spent so much time debugging this. Closing this issue.

[2020-12-04 22:55] #443 closed

[2020-12-15 06:26] EvgeniiPoshvin commented on #442
1) Why *jwt.ValidationError

Actually what jwt.ParseWithClaims returns in case of an error is a pointer to jwt. ValidationError (e.g. one of the place we return error https://github.com/dgrijalva/jwt-go/blob/master/parser.go#L41)

The ValidationError itself is a structure that implements the error interface or simply speaking has Error method implemented so that satisfy the error interface (https:

[2020-12-15 19:02] faraonc commented on #422
I am not sure if using V4 is sufficient. The library seems to be abandoned. It might be be better to use another JWT compliant from https://jwt.io/

[2020-12-18 20:16] josegoval commented on #442
(Maybe i mess it a bit, am new using this system)

Thank you a lot, seriously, A LOT. This make it quite clear.

So, the reason because the claims assertion requires a pointer to `CustomTokenClaims`, is because, it is an interface, and it needs to be a pointer to use all the interface methods that `StandardClaims` has, like `func (c *StandardClaims) VerifyAudience(cmp string, req bool)`?

Thanks a

[2020-12-23 07:03] aldas commented on #422
So this is problem when:
* JWT tokens are created `aud` containing multiple urls (`[]string` instead of `string`)
   * those tokens are *probably* created externally as [jwt.StandardClaims](https://github.com/dgrijalva/jwt-go/blob/dc14462fd58732591c7fa58cc8496d6824316a82/claims.go#L19) assumes `Audience` to be `string` not `[]string`
   * as token is **still** verified agains signing key this woul

[2020-12-27 14:25] sanjushahgupta commented on #359
I am also getting same error.
token, err := jwt.ParseWithClaims(tokenString, &Model.Token{}, func(token *jwt.Token) (interface{}, error) {
return key, nil
})
get an error saying "cannot use func literal (type func(*jwt.Token) (interface {}, error)) as type jwt.Keyfunc in argument to jwt.ParseWithClaims"
what should i do?

[2020-12-31 12:08] MJoeWatson opened #444 "SkipClaimsValidation: Value not being set"
I was trying to set SkipClaimsValidation to true, but this seems to be ignored when I when I change the value

`p := &jwt.Parser{ SkipClaimsValidation: true, }`

`token, err := p.ParseWithClaims(tokenString, &CustomClaims{}, func (token *jwt.Token) (interface{}, error) {
cert, err := getPemCert(token)`

I'm not experienced with Go, so It's unclear to me why this isn't working. Any help would be ap

[2020-12-31 12:12] #444 closed

[2021-01-08 11:22] koszonetdoktor commented on #359
For me the solution was to use `github.com/form3tech-oss/jwt-go` instead of  `github.com/dgrijalva/jwt-go`

[2021-01-09 07:34] QMCHE commented on #202
Now you can check here:
[https://github.com/jsonwebtoken/jsonwebtoken.github.io/blob/master/views/website/libraries/9-Go.json](https://github.com/jsonwebtoken/jsonwebtoken.github.io/blob/master/views/website/libraries/9-Go.json)

[2021-01-11 14:26] niya3 commented on #404
Time to double check: maybe you have mixed up private and public keys - use **private** keys for signing and corresponding **public** keys for verification.

[2021-01-13 22:57] friend0 commented on #388
For HS256 the secret is a bytes array of your choosing.
As @ygj6 says, just pick one and use it as input to SignedString

[2021-01-18 18:27] milin-wish opened #445 "Support array in "aud" claim"
Hi,

According to [the spec](https://tools.ietf.org/html/rfc7519#section-4.1), "In the general case, the "aud" value is an array of case-sensitive strings, each containing a StringOrURI value." Can you update this library to support an array in the "aud" value?

Thanks,
Mike

[2021-01-19 18:20] DangerosoDavo opened #446 "Issue: ParseWithClaims() cannot unmarshal number into Go struct field Claims.sub of type string"
Issue: ParseWithClaims() cannot unmarshal number into Go struct field Claims.sub of type  string

I'm trying to parse claims ill show the code I'm attempting:
[code]

the output to console is:
{{TOKEN STRING}} json: cannot unmarshal number into Go struct field Claims.sub of type
string
2021/01/19 18:07:33 Auth:: Token Valid: false

Im not sure the issue is with the implementation but I'm at an imp

[2021-01-20 17:51] stonedu1011 opened #447 "v4 preview 1, "functional options" for constructors don't work as intended outside the package"
I understand it's at very early stage, so just want to provide some feedback after my attempt to use it.

We uses similar API designed inspired by (this article)[https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis] in our team. This approach only works if the functional options takes exported type with exported fields. Otherwise, the constructor is completely not configurable.

[2021-01-21 12:05] Schalex1998 commented on #445
Hey,

we have the same issue when going from v3 to v4.

Best,
Alex

[2021-01-21 20:18] mitar commented on #383
So could this library get `clockTolerance` option?

[2021-02-01 02:39] jonathaningram opened #448 "v4 preview 1, typo in UnverfiableTokenError should be UnverifiableTokenError"
See https://github.com/dgrijalva/jwt-go/blob/c661858876053d183a5b74ab478d2bdfb8dd32a6/errors.go#L91

If you don't get to fixing this yourself before I do, I'll try and do a PR.

[2021-02-09 14:54] victorabarros opened #450 "Create toke example doesn't works"
Hi guys!

I'm having some problem in try create token following:

- Example from https://pkg.go.dev/github.com/dgrijalva/jwt-go#example-New--Hmac

[code]

- Error from https://play.golang.org/p/z4zkFDWTGQ-:

[code]

The issue https://github.com/dgrijalva/jwt-go/issues/388#issue-579523248 helps to solve, but I think would be better if the example from documentation works too.

[2021-02-09 20:38] yongDataScince commented on #65
`token := jwt.NewWithClaims(jwt.SigningMethodES256, &tokenClaims{
		jwt.StandardClaims {
			ExpiresAt: time.Now().Add(tockenTTL).Unix(),
			IssuedAt: time.Now().Unix(),
		},
		user.ID,
	})

	signKey := []byte("kdnjsndjnd*jdnj212md")

	tkn, err := token.SignedString(signKey)
	return tkn, err`

[2021-02-09 20:38] yongDataScince opened #451 "key is of invalid type, []byte('key') - not working"
`token := jwt.NewWithClaims(jwt.SigningMethodES256, &tokenClaims{
		jwt.StandardClaims {
			ExpiresAt: time.Now().Add(tockenTTL).Unix(),
			IssuedAt: time.Now().Unix(),
		},
		user.ID,
	})

	signKey := []byte("kdnjsndjnd*jdnj212md")

	tkn, err := token.SignedString(signKey)
	return tkn, err`

_Originally posted by @yongDataScince in https://github.com/dgrijalva/jwt-go/issues/65#issuecomment-776227

[2021-02-09 20:39] yongDataScince opened #452 "key is of invalid type, []byte('key') - not working. Hello from 2021..."
`token := jwt.NewWithClaims(jwt.SigningMethodES256, &tokenClaims{
		jwt.StandardClaims {
			ExpiresAt: time.Now().Add(tockenTTL).Unix(),
			IssuedAt: time.Now().Unix(),
		},
		user.ID,
	})

	signKey := []byte("kdnjsndjnd*jdnj212md")

	tkn, err := token.SignedString(signKey)
	return tkn, err`

_Originally posted by @yongDataScince in https://github.com/dgrijalva/jwt-go/issues/65#issuecomment-776227

[2021-02-10 12:48] cedricve commented on #383
encountered this one as well. should be cool if you could ignore the nbf claim.

[2021-02-15 05:37] BAN1ce commented on #452
SigningMethodES256 secret key must be an ecdsa.PrivateKey struct

[code]

[2021-02-19 05:34] ijajmulani opened #453 "Track security issues"
Hi,

Can we add ` security.md ` file and list all the vulnerability.

[2021-02-21 16:31] softwarespot commented on #446
I also experienced something similiar with a token that was produced by the latest https://github.com/laravel/passport. For example "exp" had the value "1644948329.528239" which was a valid JSON number, but not float64 (or so I understood). So in the end I solved this with the code at the end of this issue.

What I did notice, is that when I was trying VerifyExpiresAt - https://github.com/dgrijalv

[2021-02-21 16:36] softwarespot opened #454 "iat, nbf and exp which have a decimal value, are considered as strings and not float64 or json.Number (when UseJSONNumber is true)"
I have experienced issues with tokens that are created with latest https://github.com/laravel/passport. For example "exp" had the value "1644948329.528239" which is a valid float64 and json.Number. Previous this would have been "1644948329", but developers of passport decided to add additional precision.

In the end I solved this with the code at the end of this issue, but felt it would be good to

[2021-02-21 17:08] softwarespot commented on #454
I am closing this issue, because this https://github.com/lcobucci/jwt/pull/618 pretty much states that a claims formatter should be used instead (which I did above). Ideally it should have never been a string and so I am sorry for the noise. Hopefully others can learn from this too

[2021-02-21 17:08] #454 closed

[2021-02-26 16:47] quetzyg commented on #445
I just ran into this issue today. If I added this functionality, would you accept a pull requests, @dgrijalva?

[2021-02-26 16:51] Schalex1998 commented on #445
jwt.Parse(token, func(token *jwt.Token) (i interface{}, e error) {
	return rsaPublicKey, nil
}, jwt.WithoutAudienceValidation())

we just removed the validation as workaround btw

[2021-02-26 16:57] quetzyg commented on #445
That's just wrong.

[2021-02-26 21:29] bdspen commented on #258
Yes! I am seeing this same issue. did you find a resolution @sravyap135 ?

[2021-02-26 21:30] quetzyg commented on #445
For those that are stuck in version 3.x for the time being, this work around does the trick:
[code]

So instead of calling the `VerifyAudience()` method of `jwt.MapClaims` like:
[code]
it would instead be:
[code]

[2021-02-27 18:39] itinance commented on #290
Any news about this? Just came across the same issue.

[2021-02-28 16:25] moloch-- opened #456 "[Documentation] Keyfunc"
The https://pkg.go.dev/github.com/dgrijalva/jwt-go#Keyfunc does not specify what should be returned, it simply says "supply the key for verification." Should the function return the JSON key structure? A byte array of the base64 encoded public key? A byte array of the raw key material? A PEM encoded key? A parsed RSA Key?

The documentation should specify what is returned when, assuming different

[2021-03-03 13:58] moloch-- commented on #456
For anyone that finds this, you want to return the `parse rsa.*` key or `ecsda.*` key

[2021-03-05 01:38] cep21 opened #457 "Is this project still maintained?"
Hi,

Thank you so much for this project.  It's very helpful.  I'm just wondering if there is still time to maintain this code.  I noticed that https://github.com/auth0/go-jwt-middleware uses a fork due to "jwt-go not being actively maintained" and noticed a few tickets in https://github.com/dgrijalva/jwt-go/issues that mention security issues.  An update on project status, or maybe finding someone

[2021-03-05 07:22] ripienaar commented on #457
It’s not maintained. There was some discussion earlier to make a org that maintains a fork maintained by multiple maintainers but it fizzled out, think people would rather score point by maintaining forks under their own banners alas.

[2021-03-08 19:29] cep21 commented on #457
I did some due diligence, and https://github.com/lestrrat-go/jwx seems like the current best JWT open source Golang library along the dimensions of
* Well maintained
* Go like API
* Code documentation, tests, and performance measurements.

[2021-03-09 21:46] gimox commented on #303
same problem here!

[2021-03-11 01:28] MicahParks commented on #249
I've implemented a small package specifically for parsing JWTs using this package with a given JWKS hosted via an HTTPS endpoint: [`github.com/MicahParks/keyfunc`](https://github.com/MicahParks/keyfunc). It also allows for a JWKS loaded through a [`json.RawMessage`](https://pkg.go.dev/encoding/json#RawMessage).

Once a JWKS is created, it exports a [`jwt.KeyFunc`](https://pkg.go.dev/github.com/dgr

[2021-03-15 00:56] TimothyGu commented on #457
There is also https://pkg.go.dev/gopkg.in/square/go-jose.v2, which is also actively maintained and backed by a well-known company (@square).

[2021-03-17 15:57] smcallis opened #458 "Bug in logic for decoding anything other than MapClaims"
https://github.com/dgrijalva/jwt-go/blob/dc14462fd58732591c7fa58cc8496d6824316a82/parser.go#L131

Since this function takes claims as Claims, if you pass anything other than MapClaims{}, you'll get an unmarshalling error:
`Error verifying token: json: cannot unmarshal object into Go value of type jwt.Claims`

[2021-03-23 15:01] vibridi commented on #457
https://github.com/lestrrat-go/jwx seems a decent alternative but it exposes the Token as an interface, which is a significant difference from what this package did. Migrating old code comes with some overhead.
@ripienaar I might be interested in contributing without the need to "score points" without yet another fork.

[2021-03-23 16:15] ripienaar commented on #457
@vibridi see discussion here https://github.com/dgrijalva/jwt-go/issues/428 maybe try to ressurect that, if there's enough interest I can take another look at doing it.

[2021-03-23 16:45] vibridi commented on #457
@ripienaar I read that discussion, the last point made by @lggomez makes critical sense:

so if this is indeed a concern, the only solution is that @dgrijalva opens up this repo

Otherwise interested folks fork it and Dave still has to give his blessing with a readme update to point to the new "official" repo.
Dave's involvement is still sort of necessary because 1. there are already 800+ forks an

[2021-03-23 17:07] ripienaar commented on #457
@vibridi anyone who is in such an environment are now well and truely screwed - because they are running vulnerable packages with no recourse as its unmaintained.

We'd be doing them a favour to trigger a re-audit imo.

We won't get a respose from @dgrijalva as you can see, he's completely radio silent on this project.  Given that level of care moving to a new org is the right - if painful - thing

[2021-03-23 17:20] lggomez commented on #457
It sucks to be on this stage because we are at a stage with 2 complications at hand:
- This still is considered to be the canonical package by a lot of companies and resources (like the jwt site as I mentioned) and for practical purposes we can consider updating all of them with a fork notice as not practical
- The owner is absent

In the past npm has dealt with similar issues by granting ownershi

[2021-03-23 17:39] ripienaar commented on #457
GitHub cannot intercede it would be a massive trust issue if they got involved in something so inconsequential as a repo like this - or in fact any repo.  I'd leave github immediately if they did something like hand over a repo to someone else without owner consent

This is not a new or unique problem, the only thing to do is make something new based on a fork - and learn from the mistakes ie. mak

[2021-03-24 03:33] Yiming1997 opened #459 "how can I refresh a token string？"
If a token string is expired，How to refresh it？

[2021-03-25 07:48] markschmid commented on #251
@niocncn This is helpful, thanks.
Quick question: why do you check claims.ExpiresAt for 14 days ago? Is ```v.Errors == jwt.ValidationErrorExpired``` not enough to check if it is expired?

[2021-03-26 13:44] sethpnc commented on #428
The fix appears to be provided and ready to be merged per the fix mentioned by @brianmay above. This issue is a security issue for us downstream. Is there any update on whether it will ever be merged?

[2021-03-26 17:52] benjaminmordaunt opened #460 "ParseWithClaims panics with certain tokens"
ParseFromRequestWithClaims seems to panic when supplied with a token with no `exp` claim.
I'm using a custom claims structure which includes `*jwt.StandardClaims` and an integer.

When a token has its `ExpiresAt` claim set, it is parsed fine by the restricted endpoint.
But if this is not set (doesn't expire), ParseWIthClaims panics for some reason and I can't figure out why.

![image](https://user

[2021-03-26 17:53] benjaminmordaunt commented on #460
Sorry, I did dumb dumb.

[2021-03-26 22:21] brianmay commented on #428
@sethpnc This project is dead. See #457.

[2021-03-26 23:55] benjaminmordaunt opened #461 "Major Issue: ExpiresAt not optional despite claims"
The `exp` claim is not optional (it cannot be zero), as the current code base stands.
`ExpiresAt` is marked as `omitempty` here:
https://github.com/dgrijalva/jwt-go/blob/dc14462fd58732591c7fa58cc8496d6824316a82/claims.go#L20

... but then during the Validation steps, it directly accesses `c.ExpiresAt` without a check!
https://github.com/dgrijalva/jwt-go/blob/dc14462fd58732591c7fa58cc8496d6824316a8

[2021-03-27 02:35] benjaminmordaunt commented on #461
See #460

[2021-03-27 02:35] #461 closed

[2021-03-27 02:37] benjaminmordaunt commented on #460
This is not a bug in this library.
If you're having a similar problem, you need to implement your own Valid method, similar to follows:
[code]

[2021-03-27 02:37] #460 closed

[2021-03-27 07:15] Waterdrips commented on #457
@ripienaar Id be open to working on this in an org if there's some other interested parties.

I made the `form3tech-oss` fork to unblock us internally until some consensus was made in the community, never meant for it to be permanent :laughing:

The other approach is to "do nothing" and leave it up to people to adopt another lib. Both cases require a user to make changes to get a fix, so is it wor

[2021-03-27 07:16] Waterdrips commented on #459
https://github.com/dgrijalva/jwt-go/issues/457 this project is unmaintained, I suggest using an alternative

[2021-03-27 07:17] Waterdrips commented on #458
https://github.com/dgrijalva/jwt-go/issues/457 this project is unmaintained, I suggest using an alternative

[2021-03-27 07:17] Waterdrips commented on #453
https://github.com/dgrijalva/jwt-go/issues/457 this project is unmaintained, I suggest using an alternative

[2021-04-01 03:51] Yiming1997 commented on #459
I see,thx

[2021-04-02 07:43] WhyNotHugo commented on #450
It looks like the API changed several years ago, but none of the documentation has been updated since.

If anyone has examples for how the new API works, that's be super useful. I'm not sure if versions > 1.0.2 are considered usable though, maybe they're still experimental?

[2021-04-02 08:19] lestrrat commented on #457
@vibridi https://github.com/dgrijalva/jwt-go/issues/457#issuecomment-804975945

Just out of curiosity, what sort of API would it require to sway you into using my jwx package?
If it's doable by providing an translation/compatibility layer, I might be game to implementing it

[code]

[2021-04-02 12:17] vibridi commented on #457
@lestrrat Hi! At first I was put off by the fact the the token is an interface and calls to `tok.Set()` return an error, which is a decrease in usability from this repo's plain struct `jwt.StandardClaims`. Then I told myself to put bias aside and took a good look at your overall project. After writing some real code with it, everything nicely falls into place. I did end up adopting it at my organi

[2021-04-02 13:02] lestrrat commented on #457
Thanks, that's good to know!

Just for reference to others, there are actual reasons for `jwt.Token` being an interface. It was really long, so [I turned it into a FAQ in my README](https://github.com/lestrrat-go/jwx/tree/main/jwt#why-is-jwttoken-an-interface).

[2021-04-03 01:52] scarlac commented on #314
There's a caveat for @pawelkowalak's suggestion in that `.Valid` needs to be set to `true` if that's the only error. Otherwise you may later do `if token.Valid {` and find that it fails despite a lack of `err`.
Another workaround is to remove `iat` from the token prior to validation:
[code]
This approach works because the keyFunc callback is called internally in the library before running validati

[2021-04-05 20:37] victorabarros commented on #450
https://github.com/dgrijalva/jwt-go/issues/388#issue-579523248 helps?

[2021-04-06 07:52] cristaloleg commented on #428
To solve this (and bunch of other problems) I've created another JWT lib. Feel free to check it https://github.com/cristalhq/jwt

[2021-04-09 18:34] dgrijalva opened #462 "Migrating Maintenance"
See: #457

I haven't had time to maintain this project for quite a while. I originally made it just for myself, but it appears to have become quite popular. It seems like the best course of action would be to clone this into its own org and then set this repo up to mirror that one until users can fully migrate over. That's probably also a good opportunity to correctly implement go mod support.

Do

[2021-04-09 18:35] dgrijalva commented on #457
It's pretty clear I haven't had time to maintain this library anymore. I'm open to migrating to new maintainer(s). See #462

[2021-04-09 18:35] #457 closed

[2021-04-10 13:42] ninazu commented on #408
You need split message to chunks

`func EncryptOAEP(hash hash.Hash, random io.Reader, public *rsa.PublicKey, msg []byte, label []byte) ([]byte, error) {
    msgLen := len(msg)
    step := public.Size() - 2*hash.Size() - 2
    var encryptedBytes []byte

    for start := 0; start < msgLen; start += step {
        finish := start + step
        if finish > msgLen {
            finish = msgLen

[2021-04-12 10:05] ripienaar commented on #462
Pinging a few who were involved in earlier discussions: @camin-mccluskey @Waterdrips  @mcoops @lggomez @adamchalmers  @alexells @brianmay

[2021-04-12 10:07] ripienaar commented on #462
I'd be happy to start an org and contribute, but I'd need at least 3 others to stand up and be willing to be co maintainers as this is quite a popular lib I think good coverage is needed.

In the absence I'd vote for:

 * Merges for the recent security release and one final release from @dgrijalva if he has that much time
 * README is updated with links to alternative
 * The project get archived h

[2021-04-12 10:29] Waterdrips commented on #462
Many thanks for your work on this project @dgrijalva.

Happy to be involved, under the same caveat of enough other co-maintainers

[2021-04-12 12:23] quocnm102 commented on #301
thank you so much. I spent one day for this issue until I saw you answer! :D

[2021-04-12 21:09] agiammar opened #463 "Stable release CVE-2020-26160 fix"
The [CVE-2020-26160 ](https://nvd.nist.gov/vuln/detail/CVE-2020-26160) vulnerability is fixed in the preview [v4.0.0-preview1](https://github.com/dgrijalva/jwt-go/releases/tag/v4.0.0-preview1)
Are there any plans to make the fix part of a **stable** release, either V4 or V3?

[2021-04-14 01:58] kaihendry opened #464 "Simple example of parsing and validating a token missing"
I'm going in circles looking for a simple example of validating a token https://s.natalian.org/2021-04-14/example.mp4

I think the README's link maybe broken?

[2021-04-16 12:49] d3v1l401 opened #465 "Validation error by RSA, despite public key is correct"
Greetings,

I'm implementing the JWT verification process for an application in Azure AD: once the JWT access token acquired by the client is sent to the backend, the backend needs to verify the token signature first.

To do so, I use the key rotations endpoint by Microsoft [over here](https://login.microsoftonline.com/common/discovery/v2.0/keys), of course the "common" path is replaced by the app

[2021-04-16 12:52] d3v1l401 commented on #464
Hey there, check #465 for an example of mine, but be aware that I'm currently having problems verifying the JWT signature with RSA.

[2021-04-16 14:14] d3v1l401 commented on #465
Alright, I solved the problem and I see this is a problem that **SO MANY** developers are complaining about because there's a lack of documentation by Microsoft themselves.

It appears the discovery/keys endpoint exposes public keys produced by a different set for each application, or at least so I suspect, even if the KID is the same the public key will be somehow different from the one our appli

[2021-04-16 14:14] #465 closed

[2021-04-19 16:37] ewilde commented on #463
We are maintaining a fixed version of this library [https://github.com/form3tech-oss/jwt-go](https://github.com/form3tech-oss/jwt-go) 

CVE fixed: [https://github.com/form3tech-oss/jwt-go/releases/tag/v3.2.1](https://github.com/form3tech-oss/jwt-go/releases/tag/v3.2.1)

If that is of interest

[2021-04-21 06:24] JohnStarich commented on #463
@dgrijalva Would you be open to cherry-picking the CVE fix from v4 onto a patch release of v3 – at least until repo ownership and v4 are sorted out?

[2021-04-21 19:37] SVilgelm commented on #463
same issue https://github.com/dgrijalva/jwt-go/issues/422

[2021-04-21 19:57] JohnStarich commented on #463
I disagree about it being the same. Certainly is related though, thanks for the link!

This issue is not about how to fix the problem; it’s about getting the existing fix from v4 out to users.

[2021-04-21 19:58] SVilgelm commented on #463
agree

[2021-04-22 10:31] petherin commented on #445
The workaround above is okay, but it'd be much preferred if the fix for the vulnerability was backwards-compatible with v3.

We issue tokens using v3, so all our tokens have aud as string not []string. If we upgrade to v4 then aud will be []string and all our services consuming those tokens will break. To track down and make them all expect aud as []string is a difficult maintenance job with poten

[2021-04-22 10:43] petherin commented on #463
We issue tokens using v3, so all our tokens have aud as string not []string. If we upgrade to v4 to get the vulnerability fix, then aud will be []string in generated tokens and all our services consuming those tokens will break. To track down and make them all expect aud as []string is a difficult maintenance job with potentially disastrous authentication issues.

Can a future release be backwards

[2021-04-24 15:47] yongDataScince commented on #65
Hello from 2021...

[2021-04-27 11:03] tomqwpl commented on #463
Yes, we also have the same problem. A naive swap to the form3tech-oss version of this library causes JWT tokens generated by dex not to verify as the Audience field has changed to a []string and so the JWT token doesn't parse using StandardClaims.

[2021-04-27 11:50] tomqwpl commented on #463
As I understand it, and looking at the code, the CVE only affects MapClaims, and not StandardClaims. If you use a StandardClaims and the token has an audience array rather than a string, parsing the JWT just fails, so you don't get into the situation described by the CVE.
The spec allows for aud to be a string or an array. StandardClaims originally chose to map this as a single string. It would th

[2021-04-27 12:03] SVilgelm commented on #463
@tommyo you are not correct, the aud in v4 support both, `string` and `[]string`: https://github.com/dgrijalva/jwt-go/blob/c661858876053d183a5b74ab478d2bdfb8dd32a6/claim_strings.go#L38
The go representation uses `[]string`, but the json can be either just a `string` or `[]string`.

[2021-04-27 12:09] tomqwpl commented on #463
Ah, that makes sense. I hadn't spotted that, well I hadn't looked for it to be honest. I did wonder whether it might though, to avoid the incompatibility.
So it's just the form3tech-oss version that suffers from the issue. For our use, we don't use MapClaims, so as far as I can tell aren't affected by the CVE anyway. It would be nice to have a stable release of this repository with the fix in thou

[2021-04-27 22:54] mfridman commented on #462
Indeed, thank you for the implementation and maintaining it over the many years @dgrijalva

I echo this sentiment and would be happy to get involved (with the caveat there would be a few others). I think this is important for a few reasons:

1. I have (and am familiar with) many downstream projects that either wrap or use this library
2. It is so widely used in the Go ecosystem and deserves to be

[2021-04-28 00:16] lggomez commented on #462
Sorry for the delay in my response. Also glad to see that @dgrijalva is alive after all and was just a lack of time issue. I wouldn't mind lending a hand in the project, under the clarification that my availability may be bound to work and study (as I guess it does for most of you folks). Aside from the work I did to locally port the claims fix and perform a quick glance of the code base, I see th

[2021-04-28 06:04] ripienaar commented on #462
Ok so it looks like we at least have a number of initially interested maintainers.

What should we call the org?

initial names for maintainers appear to be me, @Waterdrips @mfridman and @lggomez

I need to read a bit how to create an org that’s fully independent on GitHub but let’s see if we can agree on a name first

[2021-04-28 06:14] Waterdrips commented on #462
`go-jot` or `jot-go`? names are hard. Using the spelling of the pronunciation of JWT instead of the acronym?

[2021-04-28 12:17] lggomez commented on #462
As long as it doesn't have `got` on its name I'm on board with any of both. I'd propose a more descriptive alternative maybe but the only one I can think of (it's 9 AM here 😪) would be the inverse of the package, `go-jwt` but it is already taken (and also is the package name, `jwt-go`.

Note that `golang-jwt` and `jwt-golang` seem to be available

Something on this route could work also

[2021-04-28 13:54] mfridman commented on #462
I like the explicitness of `golang-jwt` and it's also good for search-ability, as most users would search "golang" + "jwt"

My vote is for `golang-jwt` or `go-jot`.

An alternative might be to approach existing community orgs with a focus on oss Go packages? E.g.,

https://github.com/pkg
https://github.com/friendsofgo
https://github.com/goware

---

I doubt this would get accepted into the go /x/

[2021-04-28 14:03] ripienaar commented on #462
Hmm, was not aware of those groups, definitely worth approaching ones with 3+ maintainers I think

[2021-04-28 14:24] lggomez commented on #462
I would mention https://github.com/gofrs, which is a group composed of new maintainers of previously abandoned or deprecated projects such as https://github.com/gofrs/uuid

[2021-04-28 15:17] petherin commented on #463
In the scenario where we have several services using dgrijalva/jwt-go, we would like to upgrade dgrijalva/jwt-go in one of them to v4 (which would start sending out tokens where its StandardClaims.aud is []string) but still have the other services using dgrijalva/jwt-go v.3.2.0 continue to those tokens. At the moment they would break if StandardClaims.aud is []string.

So in v4 it would be useful

[2021-04-29 06:43] ripienaar commented on #462
`gofrs` look pretty good, do any of us know any of the maintainers on these projects?

[2021-04-29 14:01] mfridman commented on #462
`gofrs` is probably the best option. (they are in #gofrs on the gophers slack, if you're there)

Just want to throw out other alternatives, thoughts?

1. there appears to already be a maintained fork? https://github.com/form3tech-oss/jwt-go
2. keep this repo as-is but request maintainer access to a few folks on dgrijalva/jwt-go (not sure if @dgrijalva is comfortable with that)

[2021-04-29 14:16] ripienaar commented on #462
The reason we mentioned 1 as not an option is because (I at least) felt a independantly maintained project is best rather than one associated with some company.

[2021-05-02 13:23] domjeff opened #468 "Wrong in examples"
https://github.com/dgrijalva/jwt-go/blob/master/example_test.go
In line 18 it should be just a jwt.StandardClaims not a pointer to &jwt.StandardClaims

[2021-05-02 13:43] #468 closed

[2021-05-04 17:04] mfridman commented on #462
Unless no objections, I'll submit an issue for `gofrs` by end of day.

https://github.com/gofrs/help-requests

[2021-05-10 08:43] Schneider-Electric-Carros opened #469 "1 High vulnerability detected when using an automatic vulnerability-detection tool"
## Context where the vulnerabilities are detected
__Steps to reproduce__:

Create a Hello World application importing dgrijalva/jwt-go
Build the application
Scan the result with Black Duck Binary Analysis

__Expected behavior__:

No vulnerablities should be reported.

__Actual behavior__:

1 High vulnerability is detected.

## More details on the vulnerability:

### [High (CVE-2020-26160)](https:/

[2021-05-10 08:46] ripienaar commented on #469
This has been reported several times, please review open issue.  Maintenance of this project is on pause and a number of us are working to try to move things back into action. Till then this will remain.

[2021-05-11 14:01] jaunruh opened #470 "Missing Return in `parser.go`"
https://github.com/dgrijalva/jwt-go/blob/dc14462fd58732591c7fa58cc8496d6824316a82/parser.go#L72

If I understand your code correctly, there is a missing return in the line linked above.

[2021-05-12 06:00] boddumanohar commented on #469
https://github.com/dgrijalva/jwt-go/issues/428

[2021-05-12 06:01] boddumanohar commented on #469
https://github.com/dgrijalva/jwt-go/issues/463

[2021-05-13 19:02] mfridman commented on #462
In case we don't get any responses on https://github.com/gofrs/help-requests/issues/41 I propose creating a separate repo among those interested within this thread.

`golang-jwt/jwt` or `go-jot/jwt` or other, any preferences?

[2021-05-14 09:06] mcoops commented on #462
I'm a fan of golang-jwt/jwt

[2021-05-17 11:36] Schneider-Electric-Carros commented on #469
Alright, I will just close this issue to avoid duplicates then. Thanks.

[2021-05-17 11:36] #469 closed

[2021-05-18 22:11] oxisto commented on #462
Being a little late to the party… are you still looking for co-maintainers? I would be willing to give it a shot. Stemming from my professional work as a security researcher, this project is quite close to my heart. `golang-jwt`  sounds reasonable to me.

[2021-05-21 07:06] niclasgeiger commented on #458
We also encountered the same issue.
This should be the code snippet explaining why this wont work: https://play.golang.org/p/Tf-JYrfmbXO

[2021-05-21 12:19] niclasgeiger commented on #458
ah, if you use &MapClaims{} instead of MapClaims{} it will work. See https://stackoverflow.com/questions/50564341/pointer-to-an-interface-vs-interface-holding-a-pointer-when-unmarshaling-json for more explanations

[2021-05-22 15:28] mfridman commented on #462
@dgrijalva A clone (not fork) was created here: https://github.com/golang-jwt/jwt

What is your preference ..

1. Transfer repository to the `golang-jwt` org, as described [here](https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/transferring-a-repository)?
2. Archive https://github.com/dgrijalva/jwt-go with a README pointing to the newly cloned repo, [golang

[2021-05-27 01:41] dgrijalva commented on #462
Hi! Sorry for the delay. It looks like we're moving in the direction of https://github.com/golang-jwt/jwt? I have no real preference other than wanting to be careful not to break things for people currently using the library. Ideally, that means this URL remains available (for a while) and includes instructions to help people migrate to the new location.

[2021-05-27 01:44] dgrijalva commented on #462
There seems to be a few different approaches still on the table here. Can we get to a consensus on:
- who's going to raise their hand to be a maintainer (ideally a few people)
- where will the repository live?
- what steps will we take to migrate the project?
- what instructions will we provide to users of the library to keep their projects working?

A simple option to start might be to just give

[2021-05-27 02:04] mcoops commented on #462
This is preferable and would allow the critical security issues to be addressed at least, I assume you mean on the new repo not this one?

Whoever has said yes in this thread so far (including myself) I think to begin with.

It's done? https://github.com/golang-jwt/jwt

I think this will simply just be a notice on this repo advising people to start migrating over? Otherwise we might be able to do

[2021-05-27 02:27] mfridman commented on #462
Agreed 100%, that's why the "transfer" option is confusing and not ideal. When a user does a `go get` it should pull this repo without any redirect magic and module confusion.

IMO, the ideal approach was the one suggested by @ripienaar

If you add a few users with `maintainer` access they could help maintain and/or wrap up existing work. Then it comes down whether you want this project to live un

[2021-05-29 08:25] Waterdrips commented on #462
Id guess a merge and patch release fix https://github.com/dgrijalva/jwt-go/pull/429 and one/some of the new maintainers over at  https://github.com/golang-jwt/ having maintainer on here so we can port issues over (see https://github.com/golang-jwt/jwt/issues/7 and https://github.com/golang-jwt/jwt/issues/8)

This then gives users a "final fix" for people who don't want to migrate for now, and we a

[2021-06-04 08:43] zsmhub commented on #452
jwt.SigningMethodES256 => jwt.SigningMethodHS256

[2021-06-04 19:53] aldas commented on #463
Under what circumstances would you write AUD checking logic that should not result TRUE for `VerifyAudience` call when it is set to OPTIONAL?

If aud checks are as
[code]

then under which circumstances should this test fail?

[code]

I think if you set that second `required` parameter false (optional you are saying in code that you do not care about verification result.  Just think about it - set

[2021-06-04 20:14] aldas commented on #463
I have fundamental question about this `critical bug`.

Aud checking code is
[code]

`VerifyAudience` is not called anywhere in library code. This is totally up to developer to implement.

Now examples:

[code]

If `VerifyAudience` second argument is to to `true` - meaning aud value is REQUIRED then it will never give us `true` when  aud is array or empty in token.

Only way to have critical bug i

[2021-06-04 20:23] aldas commented on #463
just poiting out that you can not even marshal array to jwt.StandardClaim struct

[code]

it will fail with

[code]

[2021-06-04 20:29] aldas commented on #463
why not just fix `MapClaims.VerifyAudience` with something like that if optional case is problematic
[code]

and release patch version.  not need to have breaking changes at least if `MapClaims` is concerned.

[2021-06-07 09:22] bhechinger commented on #462
I will raise my hand.

[2021-06-07 13:44] hughsheehy commented on #359
Yep! That worked. Thanks

[2021-06-07 21:06] ConorNevin commented on #462
Also happy to help out if we need more maintainers

[2021-06-09 06:57] oxisto commented on #463
We have just released a `v3.2.1` version of our forked/cloned community maintained version at https://github.com/golang-jwt/jwt/releases/tag/v3.2.1

[2021-06-14 14:05] Fruchtgummi opened #473 "Payload encrypttion"
How can I encrypt the payload?

[2021-06-16 21:23] alexec opened #474 "If it has been 3 years since last stable release - then this project is abandoned?"

[2021-06-16 21:49] tbo commented on #474
There is a community maintained fork under: https://github.com/golang-jwt/jwt
Check the discussion here: https://github.com/dgrijalva/jwt-go/issues/462

[2021-06-16 21:55] alexec commented on #474
Use a replace directive in `go.mod`?

[2021-06-17 06:29] lwj5 commented on #462
Also, it would be ideal if

- this issue is pinned,
- there's a text with large font on the top of `README.md` pointing to the new repo, and
- the _about_ section of the repo has a link to the new repo.

I think that will help to redirect the traffic to the up and coming one.

[2021-06-17 13:34] rhysstubbs commented on #65
Hopefully this might help somebody else out... I stumbled into this error due to updating my projects dependencies, if it helps my integration is for Sign in with Apple. By updating, this removed the `.Materialise()` function which I was previously returning from my keyFunc. The core of the issue is indeed todo with what type you return... For my scenario I am validating a JWT using Apples supplie

[2021-06-22 07:38] zmaxyan opened #475 "Release v4.0.0-preview1 gives the commit id a58974e can not be found in master commit"
Release v4.0.0-preview1 gives the commit id a58974e can not be found in master commit

[2021-06-23 09:00] Hongbo-Miao commented on #474
@alexec the migration guide is at https://github.com/golang-jwt/jwt/blob/main/MIGRATION_GUIDE.md

[2021-06-24 20:08] mattlopez4011 commented on #452
This is how I was able to solve the "key is invalid" error for ES256 encryption:

` privateKey := "YOU-PRIVATE-KEY"

	atClaims := jwt.MapClaims{}
	atClaims["exp"] = json.Number(strconv.FormatInt(time.Now().Add(time.Minute*15).Unix(), 10))
	atClaims["aud"] = "Audience" // OPTIONAL AUDIENCE

	token := jwt.NewWithClaims(jwt.SigningMethodES256, atClaims)
	token.Header["kid"] = "KEY-IDENTIFIER"

	block

[2021-06-25 17:29] austinmhyatt commented on #428
Hello! For the snyk issue @camin-mccluskey mentioned, is 4.0.0-preview1 the latest fixed version? Will there be a fixed latest version outside of preview?
Thanks

[2021-06-28 22:07] dgrijalva commented on #462
I've updated the README to reflect the new location.

Per @mfridman's suggestion, if someone wants to help coordinate a final release for this repo, I can review and land it as I have time. Then, we'll archive this repo and the new maintainers can take things from there.

Thank you to those who have stepped up to take this on.

[2021-07-01 08:39] RamRR opened #477 "SigningMethodRS256"

[2021-07-09 17:47] mfridman commented on #462
@Waterdrips Did you want to update the PR https://github.com/dgrijalva/jwt-go/pull/429 you submitted for this repo to be similar to the one on the cloned repo? Namely https://github.com/golang-jwt/jwt/pull/12 ?

Once its ready we can ask Dave to review it as mentioned in https://github.com/dgrijalva/jwt-go/issues/462#issuecomment-850794570

[2021-07-10 07:21] Waterdrips commented on #462
@dgrijalva Iv updated #429 with the same patch applied in the golang-jwt repo to fix the issue.

If you can grab a few mins to review and if approved mint a final release?

Thanks :+1:

[2021-07-24 16:37] riyadhalnur commented on #462
if we're looking for more people to help out, I'd be interested in being part of the team

[2021-07-25 00:01] igormseixas commented on #65
Thank you so much. Hahahaha tunnel vision and a tired state prevent me to see this simple thing hahaha! Uff.

[2021-07-29 11:46] skiffer-git opened #478 "Dependabot alerts"
![1627559081(1)](https://user-images.githubusercontent.com/72860476/127486550-dc727b80-10d8-4b5f-aa0d-8cd344328e0b.png)

[2021-08-02 18:41] #422 closed

[2021-08-03 12:22] lggomez commented on #438
Hi @mieubrisse  per #462 this repo has been deprecated and migrated to a new organization: https://github.com/golang-jwt/jwt

As stated in golang-jwt/jwt#7, none if the new maintainers will be copying the original contributions of interest to respect the authors, but will rather encourage them to migrate to the new repo (and also check if their contribution is still applicable)

* The current defa

[2021-08-03 12:23] lggomez commented on #438
Related issue: https://github.com/golang-jwt/jwt/issues/58

[2021-08-03 15:00] lggomez commented on #478
@skiffer-git this repository is no longer maintained

The new repository can be found at: https://github.com/golang-jwt/jwt

For more information, see issue #462 and https://github.com/dgrijalva/jwt-go/issues/462#issuecomment-870077228

[2021-08-13 07:36] looskie commented on #65
hope you guys are enjoying this fine 3:36AM morning.

[2021-08-20 20:15] pkmachani opened #479 "Panic seen when parsing invalid 'exp' claim attribute"
in version 4.0.0 of library, I noticed in my tests there was panic seen when parsing the 'exp' claim attribute, it appears from code the validation of parsed value did not check for error and dereferenced causing it to panic.

claim values used for testing
`{
  "iss": "87190e4d-db7a",
  "sub": "714a4cfc-9ba7",
  "aud": "5GCORE",
  "scope": "somescope",
  "exp": "not/an/actual/date"
}`

algorithm:

[2021-08-30 15:57] #442 closed

[2021-08-30 16:19] sagafonoff commented on #65
indeed, very enjoyable 2:18am morning

[2021-09-01 05:26] adamwoolhether opened #480 "Why is Parser's ValidMethods no longer exported?"
In fact, all field of the `Parser` struct are not longer exported, I'm unable to call them when defining my own parser...

How are we supposed to create a `jwt.Parser` without the fields being exported? It seems a bit obtuse to call reflect just to do so.

[2021-09-01 08:06] adamwoolhether commented on #480
I'm sorry, i forgot the read the change/migrate logs.

[2021-09-01 08:06] #480 closed, assigned to nobody

[2021-09-19 20:28] grantzvolsky opened #482 "CVE-2021-33890"
This is my last attempt at contacting the maintainers before I make a public disclosure of this vulnerability whose severity I gauge at medium. If you are a maintainer of this repository, please send me an email to `echo 'hsbou@awpmtlz.psh' | tr 'b-za' 'a-yz'`.

[2021-09-19 20:40] ripienaar commented on #482
@grantzvolsky the vulnerability is already public.

This repository is not being maintained anymore so I am afraid you should not expect a response.

The development continues in golang-jwt/jwt where this vulnerability is fixed already.

[2021-09-19 21:10] grantzvolsky commented on #482
@ripienaar I'm aware that form3tech-oss promptly fixed it in their fork of jwt-go when I notified them, and I see that it is now also fixed in golang-jwt/jwt. Nevertheless, many projects still depend on dgrijalva/jwt-go, so as long as it isn't also fixed here, I should at some point make a public disclosure with the advice to use one of the maintained forks. To my knowledge, your comment is the fi

[2021-09-19 21:22] ripienaar commented on #482
There have been countless issuer opened here. Pages of discussion. All mentioning the CVE. Plus there is the  non embargoed CVE and is widely known (see all the PRs mentioning it)

Snyk also alerts their users already etc

And it clearly states in the readme this repository is inactive and the linked to issue

suggesting you are somehow making some new thing public is a bit of a stretch let’s be h

[2021-09-19 21:47] grantzvolsky commented on #482
Are you certain you're talking about CVE-2021-33890? Judging by your description, you're probably talking about CVE-2020-26160. These two are not related.

[2021-09-19 23:54] ripienaar commented on #482
You’re right. I was being an arsehole please accept my apology.

Regardless, The maintainer will not respond this repo is as good as dead.

[2021-09-20 18:01] blueJayWays commented on #465
Hey! Thanks for share. I still have a question: Where I can find the value for _pubkey_ variable? Is it in azure? Thank you

[2021-09-23 06:38] shadowshot-x commented on #452
@zsmhub is correct. HS256 can take a simple string input as secret. However, the  ES256 expects a parsed secret key. As ECDSA is used with SHA in this case, it requests a string parsed in ECDSA Private Key format. This can be done as @mattlopez4011 mentioned with x509.ParsePKCS8PrivateKey.

[https://pkg.go.dev/crypto/x509#ParsePKCS8PrivateKey](url)

[2021-09-23 12:03] connectkushal commented on #303
@uded Hey thanks for creating this issue, could you please elaborate on what you found out regarding how jwt.io works vs the library ?

[2021-09-23 12:07] maru44 commented on #430
@fesquivelv
Hi, fesquivelv.
In my case, worked correctly.
For your reference.

[code]

[code]

I tried this circumstance.
- github.com/dgrijalva/jwt-go v3.2.0+incompatible
- go 1.17

[2021-09-23 12:16] connectkushal commented on #303
I was facing the same problem. After much trial and error I realized the correct understanding, for validating it on jwt.io, is that the "secret" is NOT base64 encoded when creating the token using this library. When you test the generated token using jwt.io debugger, you can either enter your secret string or if you want to be extra sure that it is not leaked, you can encode your secret into a ba

[2021-10-06 10:05] heidemn-faro commented on #383
Introducing a `maxClockSkew` or `clockTolerance` parameter would be better.
Other JWT libraries have that (e.g. https://github.com/firebase/php-jwt -> `JWT::$leeway`)

[2021-10-07 09:59] amshashankk opened #483 ".FillBytes undefined (type *big.Int has no field or method FillBytes)"
![image](https://user-images.githubusercontent.com/52634856/136363066-b1ae8369-e35b-4c05-9806-1fe845cb81ae.png)

[2021-10-08 07:15] afeish opened #484 "signature is invalid"
![image](https://user-images.githubusercontent.com/12878595/136513397-a3d40abf-8854-4f33-ac6d-a3a0f667fd86.png)

Hi, I am use jwt-go to do my authentication. Everything seems fine unitl today I find a strage phenomenon.

I use curl to do the PUT request twice with the exact request parameters. But the first request was rejected by jwt. and the second one succeed.  As you can see the above screen i

[2021-10-08 07:17] afeish commented on #484
as you can see, the second request is blocked to sending the actual data to the server, while the first one just return quickly

[2021-10-08 07:53] #484 closed, assigned to nobody

[2021-10-08 17:28] d3v1l401 commented on #465
Yes it is in Azure.
Please check the second comment where I posted the solution.

Remember the public key is actually 'x5c' parameter in the rotated keys.

[2021-10-23 20:03] HaBaLeS commented on #482
Most easy way to get rid of this library is

    replace github.com/dgrijalva/jwt-go v3.2.0+incompatible => github.com/golang-jwt/jwt/v4 v4.1.0

and this helps also for 3rd party libs it's a

    Community maintained clone of https://github.com/dgrijalva/jwt-go

[2021-10-23 20:03] HaBaLeS commented on #478
Most easy way to get rid of this library is

    replace github.com/dgrijalva/jwt-go v3.2.0+incompatible => github.com/golang-jwt/jwt/v4 v4.1.0

and this helps also for 3rd party libs it's a

    Community maintained clone of https://github.com/dgrijalva/jwt-go

[2021-10-27 09:34] sxj1991 opened #485 "how to parsing third-party token?"
I will try to parsing third-party token。
I have josn_Secret and have Token,but i get signature is invalid message。
![image](https://user-images.githubusercontent.com/51181987/139040357-19b2f5a5-15a3-42ed-aa70-0baf9e225396.png)
![image](https://user-images.githubusercontent.com/51181987/139040394-3d2c2b1d-cd79-4c75-97be-b90f21753e82.png)
![image](https://user-images.githubusercontent.com/51181987/1

[2021-11-01 06:05] #485 closed, assigned to nobody

[2021-11-18 13:00] xieping5555 commented on #483
i also have this problem, anyone solved it?

[2021-11-23 16:17] bpowers commented on #483
[`FillBytes`](https://pkg.go.dev/math/big#Int.FillBytes) was added in Go 1.15, so you need to update your Go compiler to at least 1.15.

[2021-12-14 04:05] trfv commented on #348
[note]
you can use golang-jwt instead of jwt-go.

https://github.com/golang-jwt/jwt

[2021-12-17 01:29] ijaychang commented on #272
[code]
error is
"illegal base64 data at input byte 8"
why ?

[2021-12-24 06:15] encryptblockr opened #487 "cannot use time.Now().Add(time.Hour * 24).Unix() (type int64) as type *jwt.Time in field value"
Why am i getting this error?

[code]

Here is what i have

[code]

What am i doing wrong here???

issue is on this particular line

[code]

[2021-12-24 19:31] encryptblockr commented on #487
I have also tried the following

[code]

i get this error

[code]

funny thing is i see this as part of the examples here https://github.com/dgrijalva/jwt-go/blob/master/example_test.go#L18 but yet does not work for me

[code]

i get this error

[code]

[2022-01-04 14:49] mwenku commented on #65
3 years after this issue, i'm still getting the problem

[2022-01-04 14:53] AGMETEOR commented on #65
@mwelwankuta have you tried the solutions on this thread?

[2022-01-04 15:17] mwenku commented on #65
I'm seeing a lot of comments and not sure which one to try
here is what my code looks like.
![image](https://user-images.githubusercontent.com/64831126/148080789-cb3f30be-7dd4-40df-9dd7-30d57f760c99.png)
and my response
![image](https://user-images.githubusercontent.com/64831126/148081309-76f43d2e-0681-468e-8beb-e5ec6b979d02.png)

could you maybe please quote reply the solution

[2022-01-08 13:32] luisnquin commented on #419
@fabstao Hey bro, did you find an answer on this? I am tired of this, more than a week and I still have this problem.

[2022-01-11 08:08] rickmud commented on #237
Thanks for the detailing.

Your comments were surely usefull to me. However, it seems to be a bit tricky to make these changes 'down the line'. You better change the calling part, not change the library, unless you are really sure what you are doing. It is too tempting too make qnd changes as well, there, and maybe in other libraries on which good working you rely.

[2022-01-13 06:52] levniko commented on #487
could you fixed that error. I got same

[2022-01-20 08:37] ponomarevkonst commented on #65
Without going into details, ES256 requires public and private key pairs, whereas HS256 requires only private key. It looks like the second algorithm is more suitable for your case. You can read more about the difference between them [here](https://stackoverflow.com/a/39239395).

[2022-01-20 12:03] mwenku commented on #65
thank you, i ended up using something else for my tokens but was more familiar with jwt.

[2022-01-20 17:18] n8tbyte commented on #487
try change import
from "github.com/dgrijalva/jwt-go/v4"
to "github.com/dgrijalva/jwt-go"

[2022-02-07 02:08] raahii commented on #65
Hello from 2022. FYI, this is my stupid mistake.

[code]
`middleware.JWT` accept `middleware.JWTConfig` but it's ending up the same error message.
Clearly, using `middleware.JWTWithConfig` func is correct.

[2022-03-24 13:53] oxisto commented on #482
Hi, one of the maintainers of golang-jwt/jwt here. I was just stumbling on this thread here from https://github.com/golang-jwt/jwt/issues/185. Unfortunately, no public information is available (yet) on this CVE and I do not have any further non-public information. Would you mind disclosing more details to me at security-jwt@christian-banse.de, even though you mentioned we already fixed the issue a

[2022-04-01 15:47] prakharmishra opened #488 "key is invalid error with RS256 generated from https://mkjwk.org/"
I am using the library like this:

[code]

And its not able to use the key. It fails saying key is invalid. Could you please look into this?

[2022-04-12 17:12] zzw96 commented on #65
Tip for future readers:
[code]

[2022-05-14 13:20] Edmartt commented on #419
The problem is wrong use of jwt.io. Go ahead to jwt.io, delete the example, delete the string value "your 256 bits secret", write yours and after that paste your token. That's all

[2022-05-14 18:21] fabstao commented on #419
Now is working, thanks a lot!

[2022-05-19 02:50] qiaoshuangshuang commented on #382
v4 not works, can not by go get

[2022-05-19 02:50] qiaoshuangshuang commented on #382
v4 cannot work, go get failed

[2022-05-20 20:10] davitdarsalia opened #489 "Security Issue - Authorization bypass"
While merging branches, Github throws me the security alert message shown below.

Severity is 7.5/10.

"jwt-go allows attackers to bypass intended access restrictions in situations with []string{} for m["aud"] (which is allowed by the specification). Because the type assertion fails, "" is the value of aud. This is a security problem if the JWT token is presented to a service that lacks its own au